<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WindowsFormsApplicationDemoSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WindowsFormsApplicationDemoSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18272/SDKFlowDemo/WindowsFormsApplicationDemo.asmx"
                binding="basicHttpBinding" bindingConfiguration="WindowsFormsApplicationDemoSoap"
                contract="ServiceReference.WindowsFormsApplicationDemoSoap"
                name="WindowsFormsApplicationDemoSoap" />
            <endpoint address="http://localhost:18272/SDKFlowDemo/WindowsFormsApplicationDemo.asmx"
                binding="customBinding" bindingConfiguration="WindowsFormsApplicationDemoSoap12"
                contract="ServiceReference.WindowsFormsApplicationDemoSoap"
                name="WindowsFormsApplicationDemoSoap12" />
        </client>
    </system.serviceModel>
</configuration>