.en-main .panel-body {
    border:0px;
}
.en-main .layout-split-west {
    border-right: 1px solid #efefef !important;
}
.accordion {
    width: 100%;
    max-width: 360px;
    /*margin: 30px auto 20px;*/
    margin: auto;
    background: #f5f5ff;
}
    .accordion .panel-header .panel-tool {
        top:20px;
    } 
    /**
 * Submenu
 -----------------------------*/
    .submenu {
        display: none;
        font-size: 14px;
        background-color: #FFFFFF;
    }

 .submenu li
{
    border-bottom: 0.5px solid #4b4a5e;
    border-bottom-color: #CCCCCC;
}

 .submenu a {
 	display: block;
 	text-decoration: none;
 	color: #d9d9d9;
 	padding: 8px;
 	padding-left: 15px;
 	-webkit-transition: all 0.25s ease;
 	-o-transition: all 0.25s ease;
 	transition: all 0.25s ease;
 }

 .submenu a:hover {
 	background: #b63b4d;
 	color: #FFF;
 }