/*  Table */


.TableGreen
{
	border-right: darkgreen 1px solid;
	padding-right: 5px;
	border-top: darkgreen 1px solid;
	padding-left: 5px;
	font-size: 12px;
	padding-bottom: 1px;
	margin: 1px;
	border-left: darkgreen 1px solid;
	padding-top: 1px;
	border-bottom: darkgreen 1px solid;
}

.Caption
{
	font: caption;
	color: black;
}

.TitleLeft
{
	border-right: infobackground thin groove;
	padding-right: 0px;
	border-top: infobackground thin groove;
	padding-left: 1px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 1px;
	border-left: infobackground thin groove;
	padding-top: 0px;
	border-bottom: infobackground thin groove;
	background-color: activeborder;
	text-align: left;
}

/*   Title */
.Title
{
	text-align: center;
	background-color: #CCCCFF;
}


/* 在输入信息字段名称，单元格式的风格 */
.FDesc
{
	background-color: #e5e0fb;
	text-align: left;
	font-size: 12px;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	margin: 4px;
	padding-top: 4px;
}

.TB
{
	font-size: 12px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    text-align: left;
    float: left;
    clear: left;
}
 
 
.TBReadonly
{
	background-color: infobackground;
	font-size: 12px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    text-align: left;
    float: left;
    clear: left;
}
 

.TBNumReadonly
{
	font-size: 12px;
	background-color: infobackground;
	border-right: black thin;
	border-top: black thin;
	border-left: black thin;
	border-bottom: black thin;
	text-align: right;
	vertical-align: bottom;
}



.TR
{
}

.TRSum
{
	background-color: infobackground;
	font-size: 12px;
}
.TRRed
{
	background-color: #FF9900;
	font-size: 12px;
}

.TRHand
{
	cursor: hand;
}

.Idx
{
	text-align: center;
	width: 2px;
}
 
.TD
{
	border-right: lightgrey 1px solid;
	padding-right: 2px;
	border-top: lightgrey 1px solid;
	padding-left: 2px;
	padding-bottom: 1px;
	margin: 4px 2px 1px;
	border-left: lightgrey 1px solid;
	padding-top: 4px;
	border-bottom: lightgrey 1px solid;
	font-family: 宋体;
	text-align:left;
}

.TDNum
{
	border-right: lightgrey 1px solid;
	padding-right: 0px;
	border-top: lightgrey 1px solid;
	padding-left: 1px;
	padding-bottom: 0px;
	margin: 0px 0px 0px 1px;
	border-left: lightgrey 1px solid;
	padding-top: 0px;
	border-bottom: lightgrey 1px solid;
	font-family: 宋体;
	text-align: right;
}

.TBNum
{
	font-size: 12px;
	border-top-style: none;
	border-right-style: none;
	border-left-style: none;
	border-bottom-style: none;
	text-align: right;
	float: left;
	clear: left;
	vertical-align: bottom;
}
 
.BigDoc
{
	border-style: none;
	padding-right: 5px;
	padding-left: 5px;
	font-size: 12px;
	padding-bottom: 5px;
	margin: 5px;
	padding-top: 5px;
	line-height: 15pt;
	letter-spacing: 0pc;
}
