<?xml version="1.0" standalone="yes"?>
<NewDataSet>
  <!-- 经典模式的左边菜单 -->
  <ClassicMenu No="Start" CH="发起"  Url="../../Start.aspx" Img="Img/Menu/Start.png" Enable="1" Title="发起我能够发起的流程" />
  <ClassicMenu No="EmpWorks" CH="待办" Url="../../EmpWorks.aspx" Img="Img/Menu/EmpWorks.png" Enable="1" Title="等待我处理的工作。" />
  <ClassicMenu No="Runing" CH="在途"   Url="../../Runing.aspx" Img="Img/Menu/Ruing.png" Enable="1" Title="我参与的工作，没有完成。" />
  <ClassicMenu No="Search" CH="查询"  Url="../../FlowRpt.aspx"  Img="Img/Menu/Search.png" Enable="1" Title="流程查询。" />
  <ClassicMenu No="Tools" CH="设置"   Url="../../Tools.aspx" Img="Img/Menu/Setting.png" Enable="1" Title="工具栏" />
  <ClassicMenu No="Login" CH="切换用户"   Url="../../Login.aspx" Img="Img/Menu/Switch.png" Enable="1" Title="切换用户。" />
  <ClassicMenu No="AdvFunc" CH="高级功能"   Url="AdvFunc.aspx" Img="Img/Menu/Sharing.png" Enable="1" Title="切换用户。" />

  <!-- 高级功能 -->
  <AdvFunc No="CC" CH="抄送"  Url="../../CC.aspx" Img="Img/Menu/CC.png" Enable="1" Title="抄送给我的工作。" />
  <AdvFunc No="Focus" CH="我的关注"   Url="../../Focus.aspx" Img="Img/Menu/Ruing.png" Enable="1" Title="我关注的流程" />
  <AdvFunc No="AuthTodolist" CH="授权待办" Url="../../AutoTodolist.aspx" Img="Img/Menu/EmpWorks.png" Enable="1" Title="别人授权给我的工作待办" />
  <AdvFunc No="Batch" CH="批处理" Url="../../Batch.aspx" Img="Img/Menu/Batch.png" Enable="1" Title="等待我处理的工作。" />
  <AdvFunc No="Sharing" CH="任务池" Url="../../TaskPoolSharing.aspx" Img="Img/Menu/Sharing.png" Enable="1" Title="等待我处理的工作。" />
  <AdvFunc No="Emps"  CH="通讯录"   Url="../../Emps.aspx" Img="Img/Menu/Emps.png" Enable="1" Title="员工通讯录。" />
  <AdvFunc No="GetTask" CH="取回审批"  Url="../../GetTask.aspx" Img="Img/Menu/GetTask.png" Enable="1" Title="抄送给我的工作。" />
  <AdvFunc No="Calendar" CH="日历"  Url="../../Calendar.aspx" Img="Img/Menu/Rili.jpg" Enable="0" Title="查看自己每天都做了什么" />
  <AdvFunc No="Draft" CH="我的草稿"    Url="../../Draft.aspx" Img="Img/Menu/Ruing.png" Enable="1" Title="等待我处理的工作。" />
  <AdvFunc No="HungUpList" CH="挂起工作"    Url="../../HungUpList.aspx" Img="Img/Menu/HungUp.png" Enable="1" Title="等待我处理的工作。" />
  <AdvFunc No="CH" CH="时效考核" Url="../../CH/FlowCH.aspx" Img="Img/Menu/EmpWorks.png" Enable="1" Title="等待我处理的工作。" />

</NewDataSet>