<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IndustrialAutomationWorkflowWSAPISoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="IndustrialAutomationWorkflowWSAPISoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:18272/DataUser/IndustrialAutomationWorkflowAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="IndustrialAutomationWorkflowWSAPISoap"
                contract="ccbpmAPI.IndustrialAutomationWorkflowWSAPISoap"
                name="IndustrialAutomationWorkflowWSAPISoap" />
            <endpoint address="http://localhost:18272/DataUser/IndustrialAutomationWorkflowAPI.asmx"
                binding="customBinding" bindingConfiguration="IndustrialAutomationWorkflowWSAPISoap12"
                contract="ccbpmAPI.IndustrialAutomationWorkflowWSAPISoap"
                name="IndustrialAutomationWorkflowWSAPISoap12" />
        </client>
    </system.serviceModel>
</configuration>