<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>导入本机模版</title>
    <link href="../../Scripts/easyUI145/themes/color.css" rel="stylesheet" />
    <link href="../../Scripts/easyUI145/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../../../DataUser/Style/ccbpm.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../Scripts/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../Scripts/easyUI/jquery-1.8.0.min.js" type="text/javascript"></script>
    <script src="../../Scripts/easyUI/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../Scripts/EasyUIUtility.js" type="text/javascript"></script>
    <link href="../../Scripts/SyntaxHighlighter/Styles/shCoreDefault.css" rel="stylesheet"
          type="text/css" />
    <script src="../../Scripts/SyntaxHighlighter/shCore.js" type="text/javascript"></script>
    <script src="../../Scripts/SyntaxHighlighter/shBrushCSharp.js" type="text/javascript"></script>

    <link href="../../Scripts/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="../../Scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <script src="../../Scripts/QueryString.js" type="text/javascript"></script>
    <script src="../../Scripts/config.js" type="text/javascript"></script>
    <script src="../../Comm/Gener.js" type="text/javascript"></script>
    <script src="../../Admin.js"></script>
    <base target="_self" />
    <style type="text/css">
        th, td {
            text-align: left;
        }
    </style>
    <script type="text/javascript">

        /**
         * 修改日期:2020-05-20
         * 负责人:李振 
         * */
        var sortNo;
        var retrunUrl;
        $(function () {
             

        });

        //从xml文件导入
        function Imp_Done() {
            var handler = new HttpHandler("BP.WF.HttpHandler.WF_Admin_Template");
            handler.AddUrlData();
            var radioValue = $("input[name=RB_ImpType]:checked").val();
            var tbValue = $("#TB_SpecFrmID").val();
            handler.AddPara("RB_ImpType", radioValue);
            handler.AddPara("FrmSort", GetQueryString("SortNo"));
            
            handler.AddPara("TB_SpecFrmID", tbValue);
            
            handler.AddFileData();

            var data = handler.DoMethodReturnString("ImpFrmLocal_Done");
            if (data.indexOf('err@') == 0) {
                alert(data);
                return;
            }
            alert(data);
        }
    </script>
</head>
<body>
    <form>

        <fieldset>
            <legend> 从本机导入表单模版 </legend>
            <ul>
                <li>
                    请选择文件:
                    <input style="background-color:white;color:#000000" type="file" id="File_Upload" name="File_Upload" />
                </li>
                <li>
                    <font color="red"> <b>导入的方式:</b></font>
                    <ul>
                        <li>
                            <input id="Import_0" type="radio" name="RB_ImpType" value="0" checked="true" /><label for="Import_0">按照模版的表单编号导入,如果该编号已经存在就提示错误.</label>
                        </li>
                        <li>
                            <input id="Import_1" type="radio" name="RB_ImpType" value="1" /><label for="Import_1">按照模版的表单编号导入,如果该编号已经存在就直接覆盖.</label>
                        </li>
                        <li>
                            <input id="Import_2" type="radio" name="RB_ImpType" value="2" /><label for="Import_2">按照模版的表单编号导入,如果该编号已经存在就增加@WebUser.OrgNo(组织编号)导入.</label>
                        </li>
                        <li>
                            <input id="Import_3" type="radio" name="RB_ImpType" value="3" /><label for="Import_3">按照指定的模版ID导入.</label>
                            请输入指定的表单ID:
                            <input type="text" id="TB_SpecFrmID" />
                        </li>
                    </ul>
                </li>
            </ul>
            <div style="text-align: left; padding: 5px;">
                <input type="button" id="Btn_Do" value="执行导入" onclick="Imp_Done();" />
            </div>
        </fieldset>
    </form>
</body>
</html>
