.city-picker-input {
	left: -9999px; top: -9999px; position: absolute; opacity: 0 !important;
}
.city-picker-span {
	outline: 0px; color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block; position: relative; cursor: pointer; background-color: rgb(255, 255, 255); -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.city-picker-span > .placeholder {
	color: rgb(170, 170, 170);
}
.city-picker-span > .arrow {
	background: url("../images/drop-arrow.png") no-repeat -10px -25px; top: 50%; width: 10px; height: 5px; right: 8px; margin-top: -3px; position: absolute;
}
.focus.city-picker-span {
	border-bottom-color: rgb(70, 164, 255);
}
.open.city-picker-span {
	border-bottom-color: rgb(70, 164, 255);
}
.open.city-picker-span > .arrow {
	background-position: -10px -10px;
}
.city-picker-span > .title > span {
	padding: 5px; border-radius: 3px; color: rgb(51, 51, 51);
}
.city-picker-span > .title > span:hover {
	background-color: rgb(241, 248, 255);
}
.city-picker-dropdown {
	outline: 0px; left: -9999px; top: -9999px; width: 315px; margin-bottom: 20px; display: none; position: absolute; z-index: 999999; min-width: 330px; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.city-select-wrap {
	box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}
.city-select-tab {
	background: rgb(240, 240, 240); font-size: 13px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
.city-select-tab > a {
	padding: 8px 22px; outline: 0px; text-align: center; color: rgb(77, 77, 77); font-size: 14px; text-decoration: none; margin-bottom: -1px; border-bottom-color: transparent; border-left-color: rgb(204, 204, 204); border-bottom-width: 1px; border-left-width: 1px; border-bottom-style: solid; border-left-style: solid; display: inline-block; cursor: pointer;
}
.city-select-tab > a.active {
	background: rgb(255, 255, 255); color: rgb(70, 164, 255); border-bottom-color: rgb(255, 255, 255); border-bottom-width: 1px; border-bottom-style: solid;
}
.city-select-tab > a:first-child {
	border-left-color: currentColor; border-left-width: medium; border-left-style: none;
}
.city-select-tab > a:last-child.active {
	border-right-color: rgb(204, 204, 204); border-right-width: 1px; border-right-style: solid;
}
.city-select-content {
	padding: 10px 15px; width: 100%; min-height: 10px; box-sizing: border-box; background-color: rgb(255, 255, 255);
}
.city-select {
	font-size: 13px;
}
.city-select dl {
	margin: 0px; padding: 3px 0px; line-height: 2; clear: both;
}
.city-select dt {
	width: 2.5em; text-align: right; line-height: 2; font-weight: 500; position: absolute;
}
.city-select dd {
	line-height: 2; margin-left: 0px;
}
.province.city-select dd {
	margin-left: 3em;
}
.city-select a {
	padding: 0px 10px; outline: 0px; color: rgb(51, 51, 51); text-decoration: none; margin-right: 2px; display: inline-block; white-space: nowrap; cursor: pointer;
}
.city-select a:hover {
	border-radius: 2px; color: rgb(70, 164, 255); background-color: rgb(241, 248, 255);
}
.city-select a:focus {
	border-radius: 2px; color: rgb(70, 164, 255); background-color: rgb(241, 248, 255);
}
.city-select a.active {
	border-radius: 2px; color: rgb(255, 255, 255); background-color: rgb(70, 164, 255);
}
