body {
margin:0px auto;}
.icon-Search {
    background: url('./Img/Search.png') no-repeat;
}

.icon-Event {
    background: url('../../Img/Event.png') no-repeat;
}

.icon-Setting {
    background: url('../../Img/Setting.png') no-repeat;
}

.icon-DTS {
    background: url('./Img/DTS.png') no-repeat;
}

.icon-URL {
    background: url('./Img/URL.png') no-repeat;
}

.icon-API {
    background: url('./Img/API.png') no-repeat;
}

.icon-StartGuide {
    background: url('./Img/StartGuide.png') no-repeat;
}

.icon-limit {
    background: url('./Img/limit.png') no-repeat;
}

.icon-AutoStart {
    background: url('./Img/AutoStart.png') no-repeat;
}

.icon-DesignRpt {
    background: url('./Img/DesignRpt.png') no-repeat;
}

.icon-Group {
    background: url('./Img/Group.png') no-repeat;
}

.icon-D3 {
    background: url('./Img/D3.png') no-repeat;
}

.icon-Contrast {
    background: url('./Img/Contrast.png') no-repeat;
}

.icon-SQL {
    background: url('./Img/SQL.png') no-repeat;
}

.icon-Field {
    background: url('./Img/Field.png') no-repeat;
}

.icon-Node {
    background: url('./Img/Node.png') no-repeat;
}

.icon-FuncFolder {
    background: url('./Img/FuncFolder.png') no-repeat;
}

.icon-Monitor {
    background: url('./Img/Monitor.png') no-repeat;
}

.icon-SearchKey {
    background: url('./Img/SearchKey.png') no-repeat;
}

.icon-app {
    background: url('./Img/app.png') no-repeat;
}

.icon-flows {
    background: url('./Img/flows.png') no-repeat;
}

.icon-RptOrder {
    background: url('./Img/RptOrder.png') no-repeat;
}

.icon-Grow {
    background: url('./Img/Grow.png') no-repeat;
}

.icon-Warning {
    background: url('./Img/Warning.png') no-repeat;
}

.icon-overtime {
    background: url('./Img/overtime.png') no-repeat;
}

.icon-log {
    background: url('./Img/log.png') no-repeat;
}

.icon-flowcloud {
    background: url('./Img/FlowCloud.png') no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.icon-Home {
    background: url('../CCFormDesigner/Img/Home.png') no-repeat;
}

.icon-Glasses {
    background: url('../CCFormDesigner/Img/Glasses.png') no-repeat;
}

.icon-JavaScript {
    background: url('../CCFormDesigner/Img/JavaScript.png') no-repeat;
}

.icon-LoadFull {
    background: url('../CCFormDesigner/Img/LoadFull.png') no-repeat;
}

.icon-flow1 {
    background: url('../CCFormDesigner/Img/Flow.png') no-repeat;
}
/*20210325 default-skin样式*/
.default-skin .layout-panel-west {
    border-right: 1px solid #d7e6fd;
}
.default-skin .layout-panel-west .panel-header {
    height: 42px;
    background: #134da5;
    padding: 0px;
}
    .default-skin .layout-panel-west .panel-header .panel-title {
        color: #fff; font-size:24px; height:auto; line-height:42px; padding-left:15px;
    }
    .logpanel {
        height: 50px;
    }
.default-skin .layout-expand .panel-header, .layout-expand .panel-body {
    background: #266bd5;
}

.icon-logPic {
    background: url('/DataUser/ICON/Smaller.png') no-repeat;
    height: 50px;
    width: 50px;
    float: left;
    display: inline;
}

.logPicspan {
    margin-left: 15px;
    margin-top: 6px;
    font-size: large;
    float: left;
    display: inline;
}


.window-header {
    height: 18px;
}

#rightUL {
    height: 42px;
    background: #134da5; margin:0px; padding:0px; width:100%;
}
    #rightUL li {
     list-style-type:none;}
    #rightUL .user-menu {
        float: right;
        padding-right: 15px;
    }
    #rightUL span {
        
        font-size: 16px;color:#fff;
        line-height:38px;
        display:inline-block;
     
    }

    #rightUL a:hover {
        background-color: white;
    }

.drop-down-content {
    padding: 0;
    display: none;
    position: absolute; right:15px; top:38px;
    background:#fff; 
    border-top:4px solid #009688;
    z-index:9999;

}
    .drop-down-content a {
        display: block;
        text-decoration: none;
        width: 120px;
        height: 36px;
        font-size: 14px;
        text-align: center;
        line-height: 36px;
        color: #808080;
        border-bottom: 1px solid #efefef;
        border-left: 1px solid #efefef;
        border-right: 1px solid #efefef;
    }
        .drop-down-content a:hover {
            color: #009688;
        }

        .nav .drop-down:hover .drop-down-content {
            display: block;
        }

/*.tabs-header:not(:nth-child(1)) {
    width: 85% !important;
    border: none !important;
}*/

.headTiele label {
    color: red;
}

/*左侧default*/
.default-skin .tab-menu .tabs-wrap {
    background: #266bd5; height:38px;
}
    .default-skin .tab-menu .tabs-wrap .tabs {
        border-width:0px; margin-top:5px; height:33px !important; padding-left:10px;
    }
        .default-skin .tab-menu .tabs-wrap .tabs li a{ padding:0px 18px; background:none; border:0px; color:#fff;  height:33px !important; line-height:32px;}
        .default-skin .tab-menu .tabs-wrap .tabs .tabs-selected a {
            background: #fff; color:#134da5; border-radius:5px 5px 0px 0px
        }

.default-skin .tab-menu .tabs-panels .tree .tree-icon{ background:none !important; width:0px !important; }
.default-skin .tab-menu .tabs-panels .tree{ margin-top:10px;}
.default-skin .tab-menu .tabs-panels .tree li {
    background: #fff;
    border-bottom: 1px solid #efefef;
}
    .default-skin .tab-menu .tabs-panels .tree li .tree-node:first-child {
        font-size:14px;
        font-weight: 700;
    }
    .default-skin .tab-menu .tabs-panels .tree li .tree-indent {
        width: 2px;
    }
    .default-skin .tab-menu .tabs-panels .tree li ul li {
        background: #fff;
       
    }
    .default-skin .tab-menu .tabs-panels .tree li ul li .tree-node:first-child {
      
        font-weight: 100;
    }
    .default-skin .tab-menu .tabs-panels .tree li:last-child {
        border-bottom: 0px solid #efefef;
    }
        .default-skin .tab-menu .tabs-panels .tree-node-selected {
            background: #7cadf6; border-left:4px solid #134da5;
        }
            .default-skin .tab-menu .tabs-panels .tree-node-selected .tree-title {
                color: #ffffff;
            }
/*右侧default*/
.default-skin .default-header .tabs-wrap {
    background: #d7e6fd;
    height: 38px;
}

.default-skin .default-header .tabs-wrap .tabs {
    border-width: 0px;
    
    height: 38px !important;
    padding-left: 10px;
}
    .default-skin .default-header .tabs-wrap .tabs li { margin:0px; 
    }
        .default-skin .default-header .tabs-wrap .tabs li .tabs-inner {
            padding: 0px 18px;
            border: 0px;
            height: 38px !important;
            line-height: 38px !important;
            background: none;
        }

    .default-skin .default-header .tabs-wrap .tabs .tabs-selected  {
        background: #ffffff;
        color:#134da5;
       
    }
    .default-skin .default-header .tabs-wrap .tabs .tabs-with-icon {
        padding-left:0px;
    }
    .default-skin .default-header .tabs-wrap .tabs .icon-flow1{ width:0px;}