@charset "utf-8";
#info{margin-left:auto; margin-right:auto; width:1000px; height: 800px;font-family:'宋体'!important;}
.info_top{height: 25px;padding-top:10px;padding-left:20px;}
.info_lab{font-size:15px;color:Black;}
.info_cen_div{position: relative;margin:0px auto;margin-top:-10px; width: 997px;height: 119px;background:url(../images/zj_xl1.gif) no-repeat center center;}
.info_cre_lab{ position: absolute;top:72px;left:120px;color:Gray;}
#ContentPlaceHolder1_info_sign{ position: absolute;top:78px;left:150px;color:Gray;}
.info_print_a 
{
    position: absolute;top:79px;left:760px;color:Gray;
    }
.info_cen a:hover{text-decoration:underline;}
.info_cen_sign{margin:0px auto;margin-top:-10px; width: 897px;height: 25px;background-color:#F8F8F8;font-size:13px;text-indent:20px;line-height:36px;}
.info_cen_content{width: 897px;margin: 20px auto; padding: 10px 10px 10px 10px;
               height: 530px; background-color: write;font-size:14px;color:#333333;}
