body{margin:0; padding:0; font-size:9pt;}
#login{margin:auto; width:975px; height:368px; margin-top:120px;}
#top_left{width:691px; height:89px; float:left;}
#top_left img {margin-left:33px;}
#top_center{width:248px; height:89px; background:url(../images/login/login_05.gif); float:left;}

#center_left{width:691px; height:190px; background:url(../images/login/login_09.png); float:left;}
#center_middle{width:248px; height:190px; float:left; background:url(../images/login/login_13.gif) repeat-y;}
#center_right{width:36px; height:190px; float:right; background:url(../images/login/login_11.gif);}

#down_left{width:691px; height:89px; float:left; margin-top:15px;}
#down_center{width:248px; height:89px; background:url(../images/login/login_16.gif); float:left;}
#inf{width:691px; height:38px; background:url(../images/login/login_18.gif) no-repeat; }
.inf_text{display:block; width:100px; height:20px; font-size:16px; font-weight:bolder; color:#fff; margin-left:17px; margin-top:12px; float:left;}
.copyright{display:block; float:left; margin-left:17px; margin-top:15px;}

#user{ margin-left:30px; margin-top:15px; height:25px;}
#password{margin-left:30px; margin-top:15px; height:25px;}
#validcode{margin-left:30px; margin-top:15px; height:25px;}
#GetCode{width:65px;}
input{width:130px; height:18px; border:solid 1px #aca7a7; font-size:9pt;}
#btn{margin-left:30px; margin-top:32px;height:45px; margin-right:28px; text-align:center;}
#btn a{display:block; line-height:25px;height:25px;width:180px; }