	
/* 标题表头:FoolFrmTitle */	
.FoolFrmTitle	
{ 	
 border-color: !important;	
 selfbody-hight:px !important;	
 border-width:px !important;	
 background-color: !important;	
 border-which:all !important;	
 font-style:normal !important;	
 font-height:px !important;	
 border-style:none !important;	
 font-family:SimSun !important;	
 color: !important;	
 selfbody-width:200px !important;	
 font-weight:normal !important;	
 font-size:21px !important;	
 }	
/* 标题图标:FoolFrmIcon */	
.FoolFrmTitleIcon	
{ 	
 border-color:#666666 !important;	
 selfbody-hight:px !important;	
 border-width:0px !important;	
 background-color:#FFFFFF !important;	
 border-which:all !important;	
 font-style:normal !important;	
 font-height:px !important;	
 border-style:solid !important;	
 font-family:SimSun !important;	
 color: !important;	
 selfbody-width:px !important;	
 font-weight:normal !important;	
 font-size:px !important;	
 }	
/* 标题:FoolFrmTitleLable */	
.FoolFrmTitleLable	
{ 	
 border-color: !important;	
 selfbody-hight:px !important;	
 border-width:px !important;	
 background-color:none !important;	
 border-which:top !important;	
 font-style:normal !important;	
 font-height:35px !important;	
 border-style:none !important;	
 font-family:SimSun !important;	
 color:#999999 !important;	
 selfbody-width:px !important;	
 font-weight:bold !important;	
 font-size:14px !important;	
 }	
/* 分组字段:FoolFrmGroupBar */	
.FoolFrmGroupBar	
{ 	
 border-color: !important;	
 selfbody-hight:px !important;	
 border-width:px !important;	
 background-color:#6699CC !important;	
 border-which:bottom !important;	
 font-style:normal !important;	
 font-height:px !important;	
 border-style:none !important;	
 font-family:SimSun !important;	
 color:#FFFFFF !important;	
 selfbody-width:200px !important;	
 font-weight:normal !important;	
 font-size:18px !important;	
 }	
/* 分组字段:FoolFrmFieldRow */	
.FoolFrmFieldRow	
{ 	
 border-color: !important;	
 selfbody-hight:px !important;	
 border-width:px !important;	
 font-family:SimSun !important;	
 border-which:bottom !important;	
 font-style:normal !important;	
 font-height:px !important;	
 border-style:none !important;	
 color:#FFFFFF !important;	
 selfbody-width:200px !important;	
 font-weight:normal !important;	
 font-size:18px !important;	
 }	
/* 字段名:FoolFrmFieldLabel */	
.FoolFrmFieldLabel	
{ 	
 border-color:#FFFFFF !important;	
 selfbody-hight:px !important;	
 border-width:0px !important;	
 background-color:#FFFFFF !important;	
 border-which:bottom !important;	
 font-style:italic !important;	
 font-height:px !important;	
 border-style:solid !important;	
 font-family:SimHei !important;	
 color:#6699CC !important;	
 selfbody-width:200em !important;	
 font-weight:normal !important;	
 font-size:16px !important;	
 }	
/* 控件:FoolFrmFieldInput */	
.FoolFrmFieldInput	
{ 	
 border-color:#FFFFFF !important;	
 selfbody-hight:px !important;	
 border-width:0px !important;	
 font-family:SimHei !important;	
 border-which:bottom !important;	
 font-style:italic !important;	
 font-height:px !important;	
 border-style:solid !important;	
 color:#6699CC !important;	
 selfbody-width:200em !important;	
 font-weight:normal !important;	
 font-size:16px !important;	
 }