/*公用变量*/
/*初始化样式*/
body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*{box-sizing: border-box;}
/*#body::-webkit-scrollbar,body::-webkit-scrollbar,html::-webkit-scrollbar, */
/* ::-webkit-scrollbar{display:none} */

body {
  font: 15px "Microsoft Yahei", "Arial Narrow", HELVETICA;
  background: #fff;
  -webkit-text-size-adjust: 100%;
  color: #666666;
}
textarea{
  font: 15px "Microsoft Yahei", "Arial Narrow", HELVETICA;
}
a {
  color: #666666;
  text-decoration: none;
}
a:hover {
  color: #666666;
  text-decoration: none;
  cursor: pointer;
}
em {
  font-style: normal;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
p {
  word-wrap: break-word;
  margin-bottom: 0;
}

.umsdk_badge {
  position: relative;
  top: -10px;
  vertical-align: middle;
  display: none;
}
.umsdk_badge .umsdk_badge_text {
  position: absolute;
  top: -2px;
  right: 15px;
  transform: translateY(-50%) translateX(100%);
  background-color: #F56C6C;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  padding: 0px 6px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
}

/** 开始弹窗样式 */

#umsdkMsgBox {
  width: 400px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  border: 1px solid #ededed;
  z-index: 1000;
}
.um_box {
  width: 100%;
  height: 100%;
}
.um_box {
  position: relative;
}
.um_header {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #226A62;
  color: #fff;
  padding: 0 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.um_header .close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
/* 弹窗容器 */
.umui-dialog-box{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}
/* 遮罩层样式 */
.umui-masking-layer{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .3);
}
/* 弹窗默认样式 */
.umui-dialog{
  width:50vw;
  height:50vh;
  background-color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
/* 头部设置固定高度 */
.umui-dialog-head{
  width: 100%;
  height: 50px;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #226A62;
  border-bottom: 1px solid #226A62;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}
.dialog_close {
  cursor: pointer;
  width: 20px;
  height: 20px;
}
/* 弹窗内容区域 */
.umui-dialog-content{
  height: calc(100% - 50px);
  box-sizing: border-box;
  overflow-y: auto;
}
/* btn按钮样式 */
.umui-btn {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #FFF;
  border: 1px solid #DCDFE6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  -webkit-transition: .1s;
  transition: .1s;
  font-weight: 500;
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 4px; 
}
/* 鼠标移入按钮效果 */
.umui-btn:hover {
  color: #409eff;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
/* 确认按钮 */
.umui-btn-primary {
  color: #FFF;
  background-color: #409EFF;
  border-color: #409EFF;
}
/* 确认按钮鼠标移入效果 */
.umui-btn-primary:hover {
  background: #66b1ff;
  border-color: #fff;
  color: #fff;
}
/* 确认按钮mini样式 */
.umui-btn-mini {
  font-size: 12px;
  border-radius: 3px;
  padding: 7px 15px;
}
/* 确认按钮small样式 */
.umui-btn-small {
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
}
/* 下框按钮区域居中，来一些边距样式 */
.dialog-bottom{
  padding:5px;
  background-color: #fff;
  text-align: center;
}

/** 结束弹窗样式 */


/** 开始消息列表样式 */

.msg_header .close {
  cursor: pointer;
}
.msg_list_box {
  height: 100%;
  padding-top: 50px;
  overflow-y: auto;
  background-color: #fbfbfb;
}
.um_msglist li {
  display: flex;
  background-color: #fbfbfb;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #ededed;
  align-items: center;
  justify-content: space-between;
}
.um_msglist li:hover {
  background-color: #DAD8D8;
}
.um_msglist li:last-child {
  border: none;
}
.um_msglist li .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.um_msglist li .name {
  max-width: calc(100% - 55px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #000;
  margin-left: 10px;
}
.unread {
  background-color: #F56C6C;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  height: 18px;
  padding: 0px 6px;
  text-align: center;
  white-space: nowrap;
  border: 1px solid #fff;
}
.nounread {
  display: none;
}

/** 结束消息列表样式 */

/** 开始聊天样式 */

.msg_box {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}
/** 聊天顶部个人信息 */
.chat_userinfo {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
}
.chat_userinfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.chat_userinfo span {
  margin-left: 10px;
}
/** 聊天中间的历史消息 */
.his_msg_box {
  height: calc(100% - 280px);
  overflow-y: auto;
  padding: 20px;
  background-color: #f7f7f7;
}
.his_msg_box .msg_list_ul {
  width: 100%;
  float: left;
}
.his_msg_box .msg_list_ul li {
  width: 100%;
  min-height: 42px;
  margin-bottom: 15px;
  float: left;
}
.his_msg_box .msg_list_ul li:last-child {
  margin-bottom: 0;
}
.his_msg_box .msg_list_ul .get .avatar {
  float: left;
}
.his_msg_box .msg_list_ul .get .msg_content {
  margin-left: 10px;
}
.his_msg_box .msg_list_ul .send .avatar {
  float: right;
}
.his_msg_box .msg_list_ul .send .msg_content {
  margin-right: 10px;
  float: right;
}
.his_msg_box .msg_list_ul li .avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.his_msg_box .msg_list_ul li .msg_content {
  border: 1px solid #2E9CF1;
  border-radius: 5px;
  padding: 10px;
  width: auto;
  max-width: 62%;
  display: inline-block;
}
.his_msg_box .msg_list_ul li .msg_1,
.his_msg_box .msg_list_ul li .msg_2 {
  border: none;
  padding: 0;
  cursor: pointer;
} 
.his_msg_box .msg_list_ul li .msg_2 {
  min-width: 30%;
}
.file_box {
  display: flex;
  background-color: #fff;
  padding: 10px 15px;
}
.file_box .logo {
  margin-right: 10px;
}
.file_box .logo img {
  width: 40px;
  height: 40px;
}
.file_box .file_info {
  max-width: calc(100% - 50px);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.file_box .file_info .file_name {
  color: #333;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.file_box .file_info .file_size {
  font-size: 12px;
  color: #999;
}
/** 聊天底部 */
.chat_bottom {
  padding: 0 20px;
  background-color: #fff;
  position: relative;
}
.chat_bottom .um_emoji_box {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: -101px;
  background-color: #fff;
}
.chat_bottom .um_emoji_box ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.chat_bottom .um_emoji_box ul li {
  text-align: center;
  font-size: 20px;
  cursor: pointer;
}
.chat_bottom .func {
  padding: 10px 0;
}
.chat_bottom .func ul li {
  display: inline-block;
  margin-left: 5px;
  position: relative;
}
.chat_bottom .func ul li:first-child {
  margin-left: 0;
}
.chat_bottom .func ul li .file_input {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
  font-size: 0;
}
.chat_bottom .func li img {
  cursor: pointer;
}
.chat_bottom .text_area {
  width: 100%;
  height: 120px;
  overflow-y: auto;
  border: none;
  outline: none;
  resize: none;
}
.chat_bottom .send_btn_box {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
}
.chat_bottom .send_btn_box .send_btn {
  color: #fff;
  background-color: #2E9CF1;
  border-radius: 5px;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
}

/** 结束聊天样式 */