#app{
    padding: 0;
    margin: 0;
}


[v-cloak]{
    display: none;
}

.date{
    width: 115px;
    height: 26px;
    border-radius: 13px;
    background-color: rgb(241,245,253);
    color: rgb(102,102,102);
    margin-left: 25px;
    text-align: center;
    line-height: 26px;
    font-weight: 600;
    font-size: 13px;
    margin-top: 20px;

}

.record{
    margin-top: 20px;
}

.input-wrapper{
    box-sizing: border-box;
    padding-left: 26px;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding-right: 40px;
}

.user-info .left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-info .left .word-avatar{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #419fff;
    color: white;
    border-radius: 50%;
    margin-right: 8px;
    overflow: hidden;
    font-size: 18px;
}

.user-info .left .info .timestamp{
    font-size: 14px;
    color: #999999;
    font-weight: 300;
    margin-top: 4px;
}

.el-timeline-item__node--large {
    left: -5px;
    width: 20px;
    height: 20px;
}

.content{
    width: 100%;
    box-sizing: border-box;
    padding-left: 46px;
    margin-top: 10px;
    padding-right: 40px;
}

.el-timeline-item__tail{
    margin-top: 5px;
}

.el-timeline-item__node{
    margin-top: 5px;
}

.attachment{
    padding-left: 46px;
    color: #999;
    font-weight: 300;
    margin-top: 10px;
    cursor: pointer;
}

.demo-image__preview{
    padding-left: 46px;
    margin-top: 10px;
}

.el-dropdown-link {
    cursor: pointer;
}
.el-icon-arrow-down {
    font-size: 12px;
}
