<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Title</title>
    <meta charset="UTF-8"/>
    <link href="ccbpm.css" rel="stylesheet" type="text/css" />
</head>
<body style="height:@Height;zoom: 1.5" >
	  <div id="topContentDiv" class="row" style="padding: 20px 5px; margin: 0px auto;height:@Height;width:@Width">
            <i class="topContentDiv-i" style="display: none;"></i>
            <div id="contentDiv" style="height:@Height;;background-image: url('ShuiYin.png');">
            	<div id="divCCForm" style="height:@Height;left:-100px">
            		<div id="CCForm">
            			@Docs
            		</div>
            	</div>
            </div>
      </div>
   
</body>
</html>
