<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Title</title>
</head>
<body  style="background-image:url('ShuiYin.png');background-attachment:fixed" >
<img src='QR.png' style="width:70px; padding-left:100px;"  /> 

    <div align="center">
    <table style="witdh:@Width; height:@Height" >
    <tr>
    <td valign=middle>

     @Docs

     </td>
     </tr>
    </table>


    </div>

 
 

</body>
</html>
