<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WSSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    useDefaultWebProxy="true" />
                <binding name="PortalInterfaceSoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="WSSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport realm="" />
                </binding>
                <binding name="PortalInterfaceSoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://online.ccflow.org/App/TemplateInterface/WS.asmx"
                binding="basicHttpBinding" bindingConfiguration="WSSoap" contract="CloundWS.WSSoap"
                name="WSSoap" />
            <endpoint address="http://online.ccflow.org/App/TemplateInterface/WS.asmx"
                binding="customBinding" bindingConfiguration="WSSoap12" contract="CloundWS.WSSoap"
                name="WSSoap12" />
            <endpoint address="http://localhost:2207/DataUser/PortalInterface.asmx"
                binding="basicHttpBinding" bindingConfiguration="PortalInterfaceSoap"
                contract="CCInterface.PortalInterfaceSoap" name="PortalInterfaceSoap" />
            <endpoint address="http://localhost:2207/DataUser/PortalInterface.asmx"
                binding="customBinding" bindingConfiguration="PortalInterfaceSoap12"
                contract="CCInterface.PortalInterfaceSoap" name="PortalInterfaceSoap12" />
        </client>
    </system.serviceModel>

 
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
