*{  margin:0; padding:0; font-size:12px; font-family:"微软雅黑","宋体";}
html,body,form{ height:100%;  font-family:"微软雅黑","宋体";}
body{}
.over{ }
pre{ margin:0; padding:0;}
a:visited{ color:#333;}
a:link{ color:#333;}
a:hover{ color: Blue;}
a { }
li { list-style:none;}
img { border:none;}

.new_btn { display:block; background:url(../images/tijiao.gif) no-repeat; width:63px; height:20px; line-height:22px; text-align:center; right:30px; position:absolute; text-decoration:none;}
.query_btn { display:block; background:url(../images/tijiao.gif) no-repeat; width:63px; height:20px; line-height:22px; text-align:center; right:100px; position:absolute; text-decoration:none;}
.reset_btn { display:block; background:url(../images/tijiao.gif) no-repeat; width:63px; height:20px; line-height:22px; text-align:center; right:170px; position:absolute; text-decoration:none;}
.query_txt { display:block;  right:270px; position:absolute; text-decoration:none;}
