
/* cc �Զ���ı�ǩ. */

.icon-little
{
    background: url('icons/little.gif') no-repeat center center;
}
.icon-0
{
    background: url('icons/home.png') no-repeat center center;
}
.icon-1
{
    background: url('icons/xitongleibie.png') no-repeat center center;
}
.icon-2
{
    background: url('icons/xitong.png') no-repeat center center;
}
.icon-childline{
	background:url('icons/flow_childline.png') no-repeat left center;
}
.icon-mulu
{
    background: url('icons/mulu.png') no-repeat;
}
.icon-4
{
    background: url('icons/gongneng.gif') no-repeat center center;
}
.icon-5
{
    background: url('icons/kongzhidian.png') no-repeat center center;
}
.icon-addfolder
{
    background: url('icons/addfolder.gif') no-repeat center center;
}
.icon-addfile
{
    background: url('icons/addfile.gif') no-repeat center center;
}
.icon-groupadd
{
    background: url('icons/groupadd.png') no-repeat center center;
}
.icon-new
{
    background: url('icons/new.png') no-repeat;
}
.icon-meeting
{
    background: url('icons/icon_meeting.png') no-repeat center center;
}
.icon-add
{
    background: url('icons/add.gif') no-repeat center center;
}
.icon-config
{
    background: url('icons/config.gif') no-repeat;
}
.icon-up
{
    background: url('icons/up.gif') no-repeat;
}
.icon-down
{
    background: url('icons/down.gif') no-repeat;
}
.icon-delete
{
    background: url('icons/delete.gif') no-repeat;
}
.icon-rights
{
    background: url('icons/rights.gif') no-repeat center center;
}
.icon-blank
{
    background: url('icons/blank.gif') no-repeat center center;
}
.icon-edit_add
{
    background: url('icons/edit_add.png') no-repeat;
}
.icon-edit
{
    background: url('icons/pencil.png') no-repeat;
}
.icon-person
{
    background: url('icons/person.png') no-repeat center center;
}
.icon-tree_folder
{
    background: url('icons/tree_folder.gif') no-repeat center center;
}
.icon-remove
{
    background: url('icons/edit_remove.png') no-repeat;
}
.icon-save
{
    background: url('icons/filesave.png') no-repeat;
}
.icon-save-close
{
    background: url('icons/save_close.png') no-repeat;
}
.icon-cut
{
    background: url('icons/cut.png') no-repeat;
}
.icon-ok
{
    background: url('icons/ok.png') no-repeat;
}
.icon-no
{
    background: url('icons/no.png') no-repeat;
}
.icon-cancel
{
    background: url('icons/cancel.png') no-repeat;
}
.icon-reload
{
    background: url('icons/reload.png') no-repeat;
}
.icon-search
{
    background: url('icons/search.png') no-repeat;
}
.icon-print
{
    background: url('icons/print.png') no-repeat;
}
.icon-help
{
    background: url('icons/help.png') no-repeat;
}
.icon-undo
{
    background: url('icons/undo.png') no-repeat;
}
.icon-delete
{
    background: url('icons/delete.png') no-repeat;
}
.icon-reset
{
    background: url('icons/reset.png') no-repeat;
}
.icon-user
{
    background: url('icons/user.png') no-repeat;
}
.icon-department
{
    background: url('icons/department.png') no-repeat;
}
.icon-redo
{
    background: url('icons/redo.png') no-repeat;
}
.icon-unredo
{
    background: url('icons/undo.png') no-repeat;
}
.icon-back
{
    background: url('icons/back.png') no-repeat;
}
.icon-sum
{
    background: url('icons/sum.png') no-repeat;
}
.icon-tip
{
    background: url('icons/tip.png') no-repeat;
}
.icon-seasons
{
    background: url('icons/seasons.png') no-repeat center center;
}
.icon-mini-add
{
    background: url('icons/mini_add.png') no-repeat 2px 2px;
}
.icon-mini-edit
{
    background: url('icons/mini_edit.png') no-repeat 2px 2px;
}
.icon-mini-refresh
{
    background: url('icons/mini_refresh.png') no-repeat 3px 2px;
}
.form1
{
    background: url('icons/form1.png') no-repeat;
}
.icon-excel
{
    background: url('icons/excel.gif') no-repeat;
}
.icon-left
{
    background: url('icons/left.png') no-repeat;
}
.icon-right
{
    background: url('icons/right.png') no-repeat;
}
.icon-leftD
{
    background: url('default/images/layout_button_left.gif') no-repeat;
}
.icon-rightD
{
     background: url('default/images/layout_button_right.gif') no-repeat;
}
.icon-table
{
    background: url('icons/table.png') no-repeat;
}
.icon-columnchart
{
    background: url('icons/columnchart.png') no-repeat;
}
.icon-linechart
{
    background: url('icons/linechart.png') no-repeat;
}
.icon-piechart
{
    background: url('icons/piechart.png') no-repeat;
}
.icon-auto
{
    background: url('icons/auto.png') no-repeat;
}
.icon-manual
{
    background: url('icons/manual.png') no-repeat;
}
.icon-add2
{
    background: url('icons/add2.png') no-repeat;
}
.icon-delete2
{
    background: url('icons/delete2.png') no-repeat;
}
.icon-insert
{
    background: url('icons/insert.png') no-repeat;
}
.icon-sheet
{
    background: url('icons/sheet.png') no-repeat;
}
.icon-seal
{
    background: url('icons/seal.png') no-repeat;
}
.icon-accept
{
    background: url('icons/accept.png') no-repeat;
}
.icon-refuse
{
    background: url('icons/refuse.png') no-repeat;
}
.icon-open
{
    background: url('icons/open.png') no-repeat;
}
.icon-picture
{
    background: url('icons/picture.png') no-repeat;
}
.icon-flow
{
    background: url('icons/flow.png') no-repeat;
}
.icon-download
{
    background: url('icons/download.png') no-repeat;
}
.icon-design
{
    background: url('icons/design.png') no-repeat;
}
.icon-check
{
    background: url('icons/check.png') no-repeat;
}
.icon-library
{
    background: url('icons/library.png') no-repeat;
}
.icon-export
{
    background: url('icons/export.png') no-repeat;
}
.icon-station
{
    background: url('icons/station.png') no-repeat;
}
.icon-icon
{
    background: url('icons/icon.png') no-repeat;
}
.icon-bind
{
    background: url('icons/bind.png') no-repeat;
}
.icon-report_start
{
    background: url('icons/report_start.png') no-repeat;    
}
#pageloading
{
    position: absolute;
    left: 0px;
    top: 0px;
    background: white url('icons/loading.gif') no-repeat center;
    width: 100%;
    height: 100%;
    z-index: 99999;
    filter: Alpha(Opacity=50);
}

/*BPMN�°�������������ͼ����ʽ���� ��ʼ��added by liuxc��2015-10-8*/
.icon-flowtree
{
    background: url('../../../Admin/CCBPMDesigner/Img/FlowTree.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-flow1
{
    background: url('../../../Admin/CCBPMDesigner/Img/Flow.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-flowpublic
{
    background: url('../../../Admin/CCBPMDesigner/Img/FlowPublic.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-flowprivate
{
    background: url('../../../Admin/CCBPMDesigner/Img/FlowPrivate.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-formtree
{
    background: url('../../../Admin/CCBPMDesigner/Img/FormTree.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-form
{
    background: url('../../../Admin/CCBPMDesigner/Img/Form.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-srctree
{
    background: url('../../../Admin/CCBPMDesigner/Img/DBSrcTree.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-src
{
    background: url('../../../Admin/CCBPMDesigner/Img/DBSrc.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-srctable
{
    background: url('../../../Admin/CCBPMDesigner/Img/DBSrcTable.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-js
{
    background: url('../../../Admin/CCBPMDesigner/Img/Script.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-enum
{
    background: url('../../../Admin/CCBPMDesigner/Img/Enum.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-formcloud
{
    background: url('../../../Admin/CCBPMDesigner/Img/FormCloud.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-formprivate
{
    background: url('../../../Admin/CCBPMDesigner/Img/FormPrivate.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-formpublic
{
    background: url('../../../Admin/CCBPMDesigner/Img/FormPublic.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*BPMN�°�������������ͼ����ʽ���� ����*/
.icon-property
{
    background: url('icons/property.png') no-repeat;
}
.icon-guide
{
    background: url('icons/guide.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-node
{
    background: url('../../../Img/Node.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.icon-copy
{
    background: url('icons/copy.png') no-repeat;
}
/*ɵ�ϱ���ť��ʽ*/
.icon-expimp
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/ExpImp.png') no-repeat;
}
.icon-hidden
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/HiddenField.png') no-repeat;
}
.icon-groupbar
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/GroupBar.png') no-repeat;
}
.icon-checkGroup
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/CheckGroup.png') no-repeat;
}
.icon-dtl
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/Dtl.png') no-repeat;
}
.icon-closecol
{
    background: url('../../../Img/Btn/ChoseCol.gif') no-repeat;
}
.icon-attachment
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/Attachment.png') no-repeat;
}
.icon-frame
{
    background: url('../../../Admin/FoolFormDesigner/Img/Frame.gif') no-repeat;
}
.icon-event
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/event.png') no-repeat;
}
.icon-dts
{
    background: url('../../../Admin/FoolFormDesigner/Img/MapExt/DTS.gif') no-repeat;
}

.icon-Components
{
    background: url('../../../Img/Components.png') no-repeat;
}

.icon-telephone
{
    background: url('../../../Admin/CCFormDesigner/Img/telephone.png') no-repeat;
}
