/* zhoupeng add.  */
.icon-CC
{
    background: url('CC.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.icon-From
{
    background: url('From.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.icon-Sender
{
    background: url('Sender.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.icon-Event
{
    background: url('../../../../Img/Event.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-Cond
{
    background: url('Cond.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-Listion
{
    background: url('Listion.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.icon-Group
{
    background: url('Group.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
}

.icon-AdvFunc
{
    background: url('AdvFunc.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-AddNode
{
    background: url('AddNode.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-CheckFlow
{
    background: url('CheckFlow.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-RunFlow
{
    background: url('RunFlow.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-SubFlow
{
    background: url('SubFlow.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.icon-Line
{
    background: url('Line.gif') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.icon-Text
{
    background: url('text.png') center 0 no-repeat;
    width: 16px;
    height: 16px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
