input:disabled
{
    border:1px solid #DDD;
    background-color:#ffffff;
    color:#000000;
}

input[disabled],input:disabled
{
    border:1px solid #DDD;
    background-color:#ffffff;
    color:#000000;
}

ul li
{
    font-size: 0.9em;
    font-family: "Arial" , "Microsoft YaHei" , "黑体" , "宋体" ,sans-serif;
    background-color: White;
}
ul li a
{
    font-size: 0.9em;
    font-family: "Arial" , "Microsoft YaHei" , "黑体" , "宋体" ,sans-serif;
    background-color: White;
}
ul li a p
{
    color: #7d847d;
}
.ullabel
{
    font-size: 0.9em;
    font-family: "Arial" , "Microsoft YaHei" , "黑体" , "宋体" ,sans-serif;
}
/*a  upload */
.a-upload 
{
    text-decoration: none;
    padding: 4px 10px;
    height: 30px;
    width:240px;
    margin: 0;
    line-height: 30px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

.a-upload  input {
    position: absolute;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}

.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none;
}

.athment_deletefile
{
    float:right;
    width:45px;
    color:Red;
    cursor:pointer;   
}

.athment_deletefile:hover
{
    color:Blue;
}
.athment_filecount
{
    color:Red;
}

.dtl_deleterow
{
    float:right;
    width:45px;
    color:Red;
    cursor:pointer;   
}

.dtl_deleterow:hover
{
    color:Blue;
}

.dtl_addpanel
{
    text-align:center;
}
.dtl_addpanel a
{
    cursor:pointer;
}
.dtl_addpanel_b
{
    font-size:larger;
}

table td a
{
    text-decoration: none;
}