.loading_meter
{
    width: 127px;
    height: 29px;
    float: left;
    background: url(../image/Field/progressBg.png) no-repeat;
}
.loading_meter div
{
    width: 0px;
    height: 28px;
    background: url(../image/Field/progresspace.png) no-repeat;
    color: #fff;
    text-align: center;
    font-family: Tahoma;
    font-size: 18px;
    line-height: 28px;
}
.wx_content
{
    width:110px;
    height:40px;
    position: relative;
    vertical-align:middle;
}

.wx_playSound
{
    width: 80px;
    height: 30px;
    margin: 5px;
    border: 1px solid #2e8a10;
    border-radius: 10px;
    background: url(../image/Field/wx_gb.png);
}

.float_div
{
    position: absolute;
    width: 16px;
    height: 16px;
    border: 0px solid red;
    right: 0px;
    top: 0px;
    z-index: 100;
    background: url(../image/delete.png);
}

.wx_playSound img
{
    margin-left: 5px;
    height: 20px;
}
.wx_playSound div
{
    margin-top: 1px;
    float: right;
    font-weight: lighter;
    margin-right: 15px;
    color: transparent;
    text-shadow: 0px 0px 1px #000000;
}

.imgDefault
{
    background: url(../image/Field/wx_startplay.gif);
}
