<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>字号管理</title>
    <meta charset="UTF-8" />
    <base target="_self" />
    <script src="/WF/Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="/WF/Scripts/QueryString.js" type="text/javascript"></script>
    <script src="/WF/Scripts/config.js" type="text/javascript"></script>
    <script src="/WF/Comm/Gener.js" type="text/javascript"></script>
    <script type="text/javascript">

        var frmID = GetQueryString("FrmID");
        var oid = GetQueryString("OID");

        $(function () {
            var myDate = new Date();
            var currentyear = myDate.getFullYear();
            var lastyear = currentyear - 1;           
            $("#DDL_Year").append("<option value='" + currentyear + "'>" + currentyear + "</option>");
            $("#DDL_Year").append("<option value='" + lastyear + "'>" + lastyear + "</option>");
           
         
            var handler = new HttpHandler("BP.WF.HttpHandler.WF_CCFormr_Components");
            handler.AddUrlData();
            handler.AddPara("FrmID", frmID);
            handler.AddPara("OID", oid);
            var data = handler.DoMethodReturnString("DocWord_Init");

            if (data.indexOf('err@') == 0) {
                alert(data); //如果是异常，就提提示.
                return;
            }
             
            //获得第一行数据.  DocWordKey字的外键,DocWordName字的名称,DocWordYear年度,DocWordLSH流水号,DocWord字号
            //比如:DocWordKey=001, DocWordName=鲁法字,DocWordYear=2019,DocWordLSH=001,DocWord=鲁法字2019-001
            console.log(JSON.parse(data));
            //绑定数据.
            BindIt(data);
        });

        //展现数据.
        function BindIt(data) {
           

            //1. 查询出来代字.
            var words = new Entities("BP.Port.Depts");
            words.RetrieveAll();        
            GenerBindDDL("DDL_WordKey", words, "No", "Name", data.DocWordKey);//绑定到文本框.

            //2. 返回年度. 绑定年度. 年度仅仅是，当前与上一年两个选项. 此处已经使用Date()年份
        //  GenerBindDDL("DDL_Year", words, "No", "Name", data.DocWordYear);//绑定到文本框.

            //3. 绑定序列号编号.
            $("#TB_LSH").val( data.DocWordLSH ); 

        }

        ///下拉框变化后.
        function DocWord_ReGenerDocWord() {
            
            var handler = new HttpHandler("BP.WF.HttpHandler.WF_CCFormr_Components");
            handler.AddFormData();
            handler.AddUrlData(); //增加参数数据
            
            handler.AddPara("FrmID", frmID);
            handler.AddPara("OID", oid);
            var data = handler.DoMethodReturnString("DocWord_ReGenerDocWord");
            console.log(data);
            $("#TB_LSH").val(data); 

            ////让其重新绑定.
            //BindIt(data);
        }

        //字变化的时候.
        function WhenDDL_Word() {
            DocWord_ReGenerDocWord();
        }

        //年度变化的时候.
        function WhenDDL_ND() {
            DocWord_ReGenerDocWord();
        }

        ///保存的时候.
        function Save() {
           
           var handler = new HttpHandler("BP.WF.HttpHandler.WF_CCFormr_Components");
            handler.AddFormData();
            var text = $("#DDL_WordKey option:selected").text();//获取字号select的text           
            handler.AddUrlData(); //增加参数数据            
            handler.AddPara("FrmID", frmID);
            handler.AddPara("OID", oid);            
            handler.AddPara("DocWordName",text);            
            var data = handler.DoMethodReturnString("DocWord_Save");
           
             if (data.indexOf('err@') == 0) {
                alert(data);
                return;
            }
            alert("保存成功");
            window.parent.ChangeDocWordVal(data);
           

        }

        function Close() {
            window.parent.CloseBootstrapDialog();
        }

    </script>
</head>
<body>
    <form id="cc">
        <table style="width:100%;">
            <tr>
                <td> 字 </td>
                <td> <select id="DDL_WordKey" name="DDL_WordKey" onchange="DocWord_ReGenerDocWord()"></select> </td>
                <td> 年度 </td>
                <td>
                    <select id="DDL_Year" name="DDL_Year" onchange="DocWord_ReGenerDocWord()">                      
                    </select>
                </td>
                <td>流水号</td>
                <td> <input type="text"  id="TB_LSH" name="TB_LSH"  />  </td>
                <td> 选择空闲编号 </td>
            </tr>
        </table>
        <input type="button" value="保存并关闭" onclick="Save();" />
        <input type="button" value="关闭" onclick="Close();" />
    </form>
</body>
</html>