/*  Table 风格  */
body
{
  font-size: 12px;
}
input,textarea,button,select{ outline: 0;}
/*  table 类型风格 */
table
{
    border: 0px outset #CCCCCC;
    padding: inherit;
    margin: 0;
    margin-bottom: 0px;
    border-collapse: collapse;
}
.Table
{
    border: 1px solid #CCC;
}
/*  时学业添加 开始位置 */

 /*扩展应用明细表与多附件.*/
.TitleExt
{
    background-color: #f4f4f4;
    font-size: 12px;
    border: 1px solid #C2D5E3;
    text-align: center;
    height: 25px;
    line-height: 25px;
    padding: 3px;
    font-style: normal;
    color: #333333;
}

.TD
{
   border-right-style: none;
   border-left-style: none;
}

/***/
.ccbmp-table{ width:100%; line-height:24px;}
.ccbmp-table th, .Title
{
    padding: 8px 10px;
    margin: 4px;
    background-color: #f7f7f7;
    font-size: 13px;
    border: 0px;
    text-align: left;
    word-break: keep-all;
    font-weight: bold;
    color: #333333;
}
.ccbmp-table  td{ border:0px;}
.ccbmp-table a{ color:#009688}
.ccbmp-table a:hover{ color:#333333}
.ccbmp-table ul{ margin-left:0px; padding:0px 0px 0px 10px;}
.ccbmp-table li{ list-style-type:none;}
/*  时学业添加 结束位置 */
th, .Title
{
    padding: 4px;
    margin: 4px;
    background-color: #e0ecff;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: left;
    word-break: keep-all;
    font-weight: bold;
    color: #0e2d5f;
}
 
.Idx
{
    background-color: #eee;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: center;
    font-weight: bold;
}

.Sum
{
    background-color: #FFFFFF;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: left;
    font-weight: bold;
}

td
{
    border: 1px solid #D6DDE6;
    padding: 4px;
    text-align: left;
    color: #333333;
    font-size:12px;
}

td a
{
    text-decoration: none;
    font-size:12px;
}

.tdHJ
{
    border: 1px solid #D6DDE6;
    padding: 4px;
    text-align: left;
    background-color: #FFFFFF;
    color: #333333;
    font-weight:bold;
}
.tdHJNum
{
    border: 1px solid #D6DDE6;
    padding: 4px;
    text-align: right;
    background-color: #FFFFFF;
    color: #333333;
    font-weight:bold;
}

td input[type="textbox"]
{
    margin: 0px;
    border: 1px solid #D6DDE6;
    padding: 0px;
}


/* 只读文本框 */
 .TBDate
{
    font-family: 宋体, Arial, Helvetica, sans-serif;
}

td
{
    border-right-style: none;
    border-left-style: none;
}


.TDNum
{
    text-align: right;
    word-break: keep-all;
}

td input
{
    /*border:none;*/
    word-break: keep-all;
}

/*  input 类型风格 */
input[type="button"], .Btn, input[type="submit"]
{
    border-style: none;
    border-color: inherit;
    border-width: 0;
    background: #4D77A7;
    color: #FFF;
    font-size: 12px;
    padding: 4px 6px 4px 6px;
    margin: 3px 2px 3px 2px;
    }

.TBcalendar
{
    background-position: left center;
    border-style: none none dotted none;
    border-width: 1px;
    border-color: #003366;
}

.TitleMsg
{
    font: bolder medium Arial, Helvetica, sans-serif;
    color: #33517A;
    text-align: left;
    font-size: 12px;
    padding-left: 10px;
    font-weight: bold;
    background: url('Img/title_bg0.png');
    color: #31659C;
    border: 1px solid #C2D5E3;
    border-bottom: none;
    height: 30px;
    _padding-top: 8px;
    _height: 20px;
    vertical-align: middle;
}
 
caption
{
    background: url('./BG_Title.png') repeat-x;
}
 
.TBDoc
{
    border-style: dotted;
    border-width: 1px;
    border-color: #CCCCCC;
    overflow: visible;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.TB
{
    border-style: none none dotted none;
    border-width: 1px;
    border-color: #003366;
    overflow: visible;
    width: 100%;
    font-size: 12px;
}


/*  input 类型风格 */


/** 其它  */
.ToolBar
{
    background-color: #d8edff;
}

.GroupTitle  
{
    padding: 4px;
    margin: 4px;
    background-color: #e0ecff;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: left;
    word-break: keep-all;
    font-weight: bold;
    color: #0e2d5f;
}

.GroupField
{
   padding: 4px;
    margin: 4px;
    background-color: #eee;
    font-size: 12px;
    border: 1px solid #ccc;
    text-align: left;
    word-break: keep-all;
    font-weight: bold;
    color: #006666;
}

.GroupField a
{
    font-weight: bold;
}
 
/* 在输入信息字段名称，单元格式的风格 */
.FDesc
{
    padding: 4px;
    text-align: left;
    font-size: 12px;
    margin: 4px;
    background-color: #e0ecff;
    border: lightgrey 1px solid;
    border-top: none;
    width: inherit;
}

.TBNum
{
    border-style: none none dotted none;
    padding: 1px;
    margin: 1px;
    font-size: 12px;
    text-align: right;
    float: left;
    clear: left;
    width: auto;
    border-width: 1px;
    width: 70px;
    word-break: keep-all;
}
 
.TBReadonly
{
    font-size: 12px;
    text-align: left;
    float: left;
    clear: left;
    width: 100%;
    border-width: 0px 0px 1px 0px;
    background-color: #F5FFCE;
    word-break: keep-all;
    border-style: dotted none;
}

.TBNumReadonly
{
    font-size: 12px;
    background-color: #F5FFCE;
    border-right: black thin;
    border-top: black thin;
    border-left: black thin;
    border-bottom: black thin;
    text-align: right;
    vertical-align: bottom;
    text-align: right;
    width: 70px;
    word-break: keep-all;
}

.TR1
{
    background-color: AliceBlue;
}
 
.TRSum
{
    font-size: 12px;
    background-color:InfoBackground;
}

.BigDoc
{
  
}

/* 内部标签风格 */
fieldset
{
    margin: 5px;
    table-layout: auto;
    padding: 2px;
    text-align: left;
}

legend
{
    color: green;
    font-style: inherit;
    font-weight: bold;
}
  
Img
{
    border:0px;
}

.Left
{
    background-color:#FFFFFF;
}

/*鼠标移动到行上，行背景色变化*/
.tr_hover
{
    background: none repeat scroll 0 0 #e0ecff;
}