<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="../../../../DataUser/Style/ccbpm.css" rel="stylesheet" type="text/css" />
    <link href="../../../Scripts/easyUI145/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="../../../Scripts/easyUI145/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <link href="../../../Comm/Style/Table0.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="../../../Scripts/jquery/jquery.min.js"></script>
    <script type="text/javascript" src="../../../Scripts/jquery/jquery.easyui.min.js"></script>
    <script language="JavaScript" src="../../../Comm/JScript.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../Scripts/bootstrap/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../../Scripts/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../../Scripts/QueryString.js" type="text/javascript"></script>
    <script src="../../../Scripts/config.js" type="text/javascript"></script>
    <script src="../../../Scripts/PinYin.js" type="text/javascript"></script>
    <script src="../../../Comm/Gener.js" type="text/javascript"></script>
    <script src="DDLBar.js"></script>
    <script src="FrmComponentsEnum.js"></script>
    <script>
        //页面启动函数.
        $(function () {

            InitBar(11);

        });
    </script>
</head>
<body>
    <div id="bar">
    </div>


    <fieldset>
        <legend>运行效果</legend>
        <img src="11.FrmImg-1.png" style="width:70%;" />
    </fieldset>
</body>
</html>