    

/*  Table 风格  */
table
{
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    color: #333333;
    border-width: 1px;
    border-color: #D0D0D0;
    border-collapse: collapse;
}
table th
{
    border: 1px solid #D0D0D0;
    padding: 1px 4.9px;
    background-color: #F9F9F9;
    font-weight: normal;
    font-style: normal;
}
.thStyle
{
   padding: 1px 3.9px;  
}
table td
{
    border: 1px solid #D0D0D0;
    padding: 1px;
    background-color: #ffffff;
}

input[type=text], input[type=password], select
{
    border-radius: 5px;
    border: thin solid #CCCCCC;
    margin: 1px 1px;
    height:23px;
}
select {
    apperance: none;
-moz-appearance: none;
-ms-appearance: none;
}


/*文本框只读风格.*/
    textarea[disabled], input:disabled, select[disabled] {
        border: 1px solid #DDD;
        background-color: #F9f9f9;
        color: #030303;
    }


td input[type="textbox"]
{
    margin: 0px;
    border: 1px solid #D6DDE6;
    padding: 0px;
}

input[disabled],input:disabled{
border:1px solid #DDD;
background-color:#F9F9F9;
color:#030303;
} 
 