	
.FoolFrmBody	
 { 	
font-stylex:0;	
selfbody-hight:;	
selfbody-width-unit_Temp:px;	
baorder-style:xxx;	
font-size-unit:px;	
border-style:solid;	
background-color:#99FFFF;	
border-which:bottom;	
font-style:normal;	
font-height:;	
selfbody-width_Temp:;	
font-color:red3;	
font-height-unit:px;	
font-family:SimSun;	
border-width-unit:px;	
selfbody-width:;	
border-color:#666666;	
font-weight:normal;	
selfbody-hight-unit:px;	
font-size:2444;	
border-width:1;	
 }	
.FoolFrmTable	
 { 	
font-stylex:1;	
selfbody-hight:;	
selfbody-width-unit_Temp:px;	
baorder-style:xxx;	
font-size-unit:px;	
border-style:solid;	
background-color:#99FFFF;	
border-which:bottom;	
font-style:normal;	
font-height:;	
selfbody-width_Temp:;	
font-color:red;	
font-height-unit:px;	
font-family:SimSun;	
border-width-unit:px;	
selfbody-width:;	
border-color:#666666;	
font-weight:normal;	
selfbody-hight-unit:px;	
font-size:242;	
border-width:1;	
 }	
.FoolFrmTitleTH	
 { 	
borderwidth-unit:px;	
selfbody-hight:;	
selfbody-width:;	
background-color:;	
border-which:all;	
font-style:normal;	
fontheight-unit:px;	
font-height:;	
selfbodyhight-unit:px;	
font-color:#33CCFF;	
font-family:SimSun;	
border-style:none;	
fontsize-unit:px;	
border-color:;	
font-weight:normal;	
selfbodywidth-unit:px;	
font-size:18;	
border-width:;	
 }	
.FoolFrmTitleIcon	
 { 	
selfbody-hight:;	
selfbody-width-unit_Temp:px;	
font-size-unit:px;	
border-style:solid;	
background-color:#99FFFF;	
border-which:bottom;	
font-style:normal;	
font-height:;	
selfbody-width_Temp:;	
font-color:red;	
font-height-unit:px;	
font-family:SimSun;	
border-width-unit:px;	
selfbody-width:;	
border-color:#666666;	
font-weight:normal;	
selfbody-hight-unit:px;	
font-size:24;	
border-width:1;	
 }	
.FoolFrmTitleLable	
 { 	
selfbody-hight:;	
border-width-unit:px;	
font-size-unit:px;	
background-color:;	
border-which:top;	
font-style:italic;	
selfbody-width-unit:px;	
font-height:;	
border-style:none;	
font-color:red;	
font-size:16;	
font-family:SimSun;	
selfbody-width:;	
border-color:;	
font-weight:normal;	
selfbody-hight-unit:px;	
font-height-unit:px;	
border-width:;	
 }	
.FoolFrmGroupBar	
 { 	
borderwidth-unit:px;	
selfbody-hight:11;	
selfbody-width-unit:px;	
selfbody-hight-unit:px;	
selfbody-width-unit_Temp:px;	
selfbody-width:;	
background-color:#CCCCCC;	
border-which:bottom;	
font-style:normal;	
fontheight-unit:px;	
font-height:12;	
selfbodyhight-unit:px;	
font-color:#FFFFFF;	
font-height-unit:px;	
font-family:SimSun;	
border-style:none;	
font-size-unit:ex;	
selfbody-width_Temp:1;	
fontsize-unit:px;	
border-width-unit:px;	
border-color:;	
font-weight:normal;	
selfbodywidth-unit:px;	
font-size:14;	
border-width:;	
 }	
.FoolFrmFieldTR	
 { 	
font-color:red;	
font-size:24;	
 }	
.FoolFrmFieldName	
 { 	
borderwidth-unit:px;	
selfbody-hight:;	
selfbody-width-unit:px;	
selfbody-hight-unit:px;	
selfbody-width-unit_Temp:px;	
selfbody-width:;	
background-color:;	
border-which:all;	
font-style:normal;	
fontheight-unit:px;	
font-height:;	
selfbodyhight-unit:px;	
font-color:red;	
font-height-unit:px;	
font-family:SimSun;	
border-style:none;	
font-size-unit:px;	
selfbody-width_Temp:;	
fontsize-unit:px;	
border-width-unit:px;	
border-color:;	
font-weight:normal;	
selfbodywidth-unit:px;	
font-size:24;	
border-width:;	
 }	
.FoolFrmFieldCtrl	
 { 	
borderwidth-unit:px;	
selfbody-hight:;	
selfbody-width-unit:px;	
selfbody-hight-unit:px;	
selfbody-width-unit_Temp:px;	
selfbody-width:;	
background-color:#99FFFF;	
border-which:bottom;	
font-style:normal;	
fontheight-unit:px;	
font-height:;	
selfbodyhight-unit:px;	
font-color:red;	
font-height-unit:px;	
font-family:SimSun;	
border-style:solid;	
font-size-unit:px;	
selfbody-width_Temp:;	
fontsize-unit:px;	
border-width-unit:px;	
border-color:#666666;	
font-weight:normal;	
selfbodywidth-unit:px;	
font-size:24;	
border-width:1;	
 }