	
/* 我的风格 */	
.GloValsTemp	
{ 	
 border-color: ;	
 selfbody-hight:33px ;	
 border-width:px ;	
 background-color:red ;	
 border-which:all ;	
 font-style:italic ;	
 font-height:33px ;	
 border-style:none ;	
 font-family:KaiTi ;	
 color:yellow ;	
 selfbody-width:12px ;	
 font-weight:bold ;	
 font-size:22px ;	
 }