	
/* 222 */	
.GloValsTemp	
{ 	
 border-color:;	
 selfbody-hight:px;	
 border-width:px;	
 background-color:#33CCFF;	
 border-which:all;	
 font-style:normal;	
 font-height:px;	
 border-style:none;	
 font-family:SimSun;	
 color:;	
 selfbody-width:px;	
 font-weight:normal;	
 font-size:px;	
}