	
/* 啊啊啊 */	
.AAA	
{ 	
 border-color: !important;	
 selfbody-hight:11px !important;	
 border-width:px !important;	
 background-color:red !important;	
 border-which:all !important;	
 font-style:italic !important;	
 font-height:111px !important;	
 border-style:none !important;	
 font-family:FangSong !important;	
 color: !important;	
 selfbody-width:1px !important;	
 font-weight:bold !important;	
 font-size:11px !important;	
 }