<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <identity impersonate="false" userName="administrator" password="bpm2017@123" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />-->
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" /> 
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--<globalization requestEncoding="GB2312" responseEncoding="GB2312" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <add path="scissors.axd" verb="*" type="BitmapCutter.Core.HttpHandler.BitmapScissors,BitmapCutter.Core" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--
     如果您使用了 ccform　富文本编辑框，就要启动下面的两个设置．
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    -->
    <httpRuntime maxRequestLength="2147483647" executionTimeout="99999" requestValidationMode="2.0" />
  </system.web>
  <appSettings>
    
    <!-- 数据库连接配置:  AppCenterDBType 类型为Oracle,MSSQL,Informix,MySQL
         注意:
         1，数据库用户必须有一定的权限否则创建表会出错误.
         2，如果是Informix数据库请注意要首先执行一些sql脚本.
    -->
    
    
    <!--组织结构数据模式, 0=OneOne模式(一个用户一个部门多岗位） 1=OneMore模式. 一个用户多个部门多岗位. -->
    <!--<add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=CCFlow6;Data Source=.;Timeout=999;MultipleActiveResultSets=true"/>
    <add key="AppCenterDBType" value="MSSQL"/>-->

    <add key="AppCenterDSN" value="Data Source=localhost;Persist Security info=True;Initial Catalog=ccflow6;User ID=root;Password=123;Charset=utf8"/>
    <add key="AppCenterDBType" value="MySQL"/>
    
    <!-- 数据库连接 Demo 
      <add key="AppCenterDSN" value="Host=10.0.2.36;Service=8001;Server=niosserver; Database=ccflow6; UId=npmuser; Password=ccflow;Database locale=en_US.819;Client Locale=en_US.CP1252"/>
      <add key="AppCenterDBType" value="Informix"/>
       
      <add key="AppCenterDSN" value="Data Source=localhost;Persist Security info=True;Initial Catalog=ccflow;User ID=root;Password=ccflow;Charset=utf8"/>
      <add key="AppCenterDBType" value="MySQL"/>
   
      <add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=ccflow6;Data Source=.;Timeout=999;MultipleActiveResultSets=true"/>
      <add key="AppCenterDBType" value="MSSQL"/>
   
      <add key="AppCenterDSN" value="user id=ccflow6;data source=orcl;password=ccflow;Max Pool Size=200"/>
      <add key="AppCenterDBType" value="Oracle"/>
   -->

    <!-- 回话时长分钟 cookies 的会话时长. -->
    <add key="SessionLostMinute" value="5000000" />
    <!-- 是否启用密码加密. -->
    <add key="IsEnablePasswordEncryption" value="0"  />

    <!-- 路径. -->
    <add key="DataDirPath" value="WF"  />
    
    <!-- 短消息写入类型:  0=写入Sys_SMS表 1=写入丁丁 2=写入微信 3=写入指定的Webservice接口
    说明:
    1, 消息发送系统都会写入Sys_SMS表中里面去,该类位于 BP.WF.SMS 
    2, 在该类的AfterInsert方法里
    -->
    <add key="ShortMessageWriteTo" value="3" />
    <!-- 是否启用CCIM,如果启用ccim则所有的消息都会向ccim里面发送,并且还会向指定的设备发送.
    比如: 短信消息,即发送短信，也发送ccim消息通知. 这里需要CCIM的表也需要在当前数据库上. -->
    <add key="IsEnableCCIM" value="0" />
    <!-- 发送邮件的设置，为流程服务设置的邮件发送,如果需要发送邮件需要ccflow的服务启动。 -->
    <add key="SendEmailHost" value="smtp.tom.com" />
    <add key="SendEmailPort" value="25" />
    <add key="SendEmailAddress" value="ccbpmtester@tom.com" />
    <add key="SendEmailPass" value="ccbpm123" />
    
    <!-- 是否启用ssl 加密? 有的邮件服务器不需要加密，就设置为0. 
         注意:很多朋友配置不成功就是因为此参数gmail为true，大多的smtp服务器是false.-->
    <add key="SendEmailEnableSsl" value="0" />

    <!-- 附件的FTP 服务器的配置(如果上传附件需要存储到ftp服务器上) -->
    <add key="FTPServerIP" value="ccflow.org" />
    <add key="FTPUserNo" value="FtpTest" />
    <add key="FTPUserPassword" value="asdfasd3**$232d00932a1ldw" />
    <!--附件上传是否加密 1 加密-->
    <add key="FileEncrypt" value="0"/>

    <!-- 用户信息显示格式 @0=UserID,UserName@1=UserNo,@2=UserName   0=zhangsa,张三.  1=zhangsan,  2=张三. -->
    <add key="UserInfoShowModel" value="0" />
    
    <!-- 是否:debug状态. 0 表示不是, 1 是，如果系统发布后，请将此修改成0，以提高执行效率。 -->
    <add key="IsDebug" value="0" />
    
    <!-- 是否:自动测试模式. 0-不是, 1 -是，注意：系统发布后，勿必将此修改成0，否则可能影响部分功能使用(2017-09-08暂时仅影响VSTO插件功能)。 -->
    <add key="IsAutoTesting" value="0" />
    
    <!-- 是否启用共享任务池, 请参考操作手册中的多人处理模式, 当一个节点为共享模式时，-->
    <add key="IsEnableTaskPool" value="1" />
    
    <!-- 是否启用草稿 -->
    <add key="IsEnableDraft" value="1" />
    
    <!-- 是否检查树形表单为空的逻辑（为测试所使用测试的自动运行,默认为1） -->
    <add key="IsEnableCheckFrmTreeIsNull" value="1" />
    
    <!-- 是否启用数值类型为空值，在一些工作环境下，数值类型的数据如果用户不输入就默认为null，显示时也要显示""，而非默认为0。如果要启用这个环境下的应用就需要设置0，默认为0. -->
    <add key="IsEnableNull" value="1" />
    
    <!-- 是否启用消息机制,如果启用产生的消息就会写入Sys_SMS表里. -->
    <add key="IsEnableSysMessage" value="0" />
    
    <!-- 是否启用检查用户的禁用非禁用状态,如果是1，则当用户被禁用后，系统就会立刻生效. -->
    <add key="IsEnableCheckUseSta" value="0" />
    
    <!-- 服务器的URL,用于cs流程服务中获取url信息，来执行流程事件. 调用datauser\*.* webservices的接口. -->
    <add key="HostURL" value="http://127.0.0.1:30362/" />
    <!--移动端服务器地址-->
    <add key="MobileURL" value="http://127.0.0.1:28086/" />
    
    <!-- SDK表单上服务器地址,应用到使用ccflow的时候使用的是sdk表单,该表单会存储在其他的服务器上.-->
    <add key="SDKFromServHost" value="http://127.0.0.1:8158/" />
    
    <!-- 与ccflow流程服务相关的配置: 执行自动任务节点，间隔的时间，以分钟计算，默认为2分钟。-->
    <add key="AutoNodeDTSTimeSpanMinutes" value="2" />
    
    <!-- BaseUrl, 此设置会用到CS程序中，用于执行URL. -->
    <add key="BaseUrl" value="http://localhost:13432"/>
    

    <!-- 默认语言 CH 为简体中文,其它语言请参考枚举 -->
    <add key="SysLanguage" value="CH" />

    <!-- 系统编号:不要修改它. -->
    <add key="SysNo" value="CCFlow" />
    <add key="SysName" value="驰骋工作流引擎ccbpm6" />

    <!-- 客户编号:此编号用户处理不同的客户个性化的要求. -->
    <add key="CustomerNo" value="CCFlow" />
    <add key="CustomerName" value="驰骋工作流" />
    
    <!--打印水文:用于表单生成PDF文件时，文件模板内容-->
    <add key="PrintBackgroundWord" value="开源驰骋@Opencc" />

    <!-- 每次取最大数据行数(不要修改) -->
    <add key="TopNum" value="99999" />
    
    <!-- 默认每页数据行数(不要低于5) -->
    <add key="PageSize" value="15" />

    <!--服务信息: 当程序出现异常就会显示该信息,以方便通知管理员处理. -->
    <add key="ServiceMail" value="ccflow@ccflow.org" />
    <add key="ServiceTel" value="0531-82374939" />

    <!-- 与时效有关的考核. AMFrom上下班时间. 节假日设置流程设计器->系统功能->系统设置->节假日设置. -->
    <add key="AMFrom" value="08:00" />
    <add key="AMTo" value="12:00"  />
    <!-- 下午下班时间 -->
    <add key="PMFrom" value="14:00" />
    <add key="PMTo" value="18:00"  />
    <!--  一天有效的工作小时数(中午工作小时+下午工作小时)  -->
    <add key="AMPMHours" value="8" />
    
    <!--  中午间隔的小时数(是 PMFrom -AMTo )  -->
    <add key="AMPMTimeSpan" value="2" />
  
    <!-- VSTO插件版本号 -->
    <add key="VstoExtensionVersion" value="1.0.0.10"/>
    
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>
