<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>     
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>  
  -->
	<system.web>
		<identity impersonate="false" userName="administrator" password="bpm2017@123"/>
		<compilation debug="true" targetFramework="4.8">
			<assemblies>
				<!--<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />-->
				<add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<!--<add assembly="Mono.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756" />-->
			</assemblies>
		</compilation>
		<webServices>
			<protocols>
				<add name="HttpGet"/>
				<add name="HttpPost"/>
			</protocols>
		</webServices>
		<!--<globalization requestEncoding="GB2312" responseEncoding="GB2312" />-->
		<globalization requestEncoding="utf-8" responseEncoding="utf-8"/>
		<httpHandlers>
			<add path="scissors.axd" verb="*" type="BitmapCutter.Core.HttpHandler.BitmapScissors,BitmapCutter.Core" validate="false"/>
			<add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		</httpHandlers>
		<!--需添加自定义出错页面<customErrors mode="On |off|RemoteOnly" defaultRedirect ="error/customerrorpage.aspx">-->
		<customErrors mode="Off"/>
		<!--启用验证框架-->
		<pages validateRequest="true">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			</controls>
		</pages>
		<!--
     如果您使用了 ccform　富文本编辑框，就要启动下面的两个设置．
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    -->
		<httpRuntime maxRequestLength="2147483647" executionTimeout="99999" requestValidationMode="2.0"/>
	</system.web>
	<appSettings>
		<!--
		 数据库脚本下载地址：
		 https://gitee.com/opencc/JFlow/attach_files
		-->
		<add key="AppCenterDSN" value="Data Source=192.168.0.100;Port=3306;Persist Security info=True;Initial Catalog=ke;User ID=root;Password=ccflow@123;Charset=utf8"/>
		<add key="AppCenterDBType" value="MySQL"/>
		<add key="CCBPMRunModel" value="0"/>
	
		<add key="AppCenterDSNa5a" value="Server=localhost;Database=ccflow; User Id=system;Password=ccflow;Port=54321"/>
		<add key="AppCenterDBType4aa" value="KingBaseR3"/>

		<!--用户默认密码-->
		<add key="UserDefaultPass" value="123"/>
		
		<!--附件上传是否加密 1 加密-->
		<add key="IsEnableAthEncrypt" value="0"/>

		<!-- 生成workid模式 0=按照顺序生成，1=随机生成. -->
		<add key="GenerWorkIDModel" value="0"/>
		<add key="FrontEndEncrypt" value="0"/>
		<!--用户连续密码错误锁定时间，单位秒-->
		<add key="UserLockTimeSeconds" value="180"/>
		<!-- 0= 宽泛模式. 1=严谨模式. -->
		<add key="TokenModel" value="0"/>
		<!-- 是否启用密码加密. -->
		<add key="IsEnablePasswordEncryption" value="0"/>
		<add key="Adminer" value="zhangsan,lisi,wangwu,admin"/>
		<!-- 是否启用日志：启用日志后系统将变得慢. -->
		<add key="IsEnableLog" value="0"/>
		<!-- saas模式企业微信参数配置 -->
		<!--企业ID-->
		<add key="CorpID" value="wx8eac6a18c5efec30"/>
		<!--推广包ID-->
		<add key="TemplateId" value="tpl62d53e0e03de4779"/>
		<!--服务器域名-->
		<add key="Domain" value="http://www.ccbpm.cn/"/>
		<!--服务商ProviderSecret-->
		<add key="ProviderSecret" value="GoC4FuwsdmKa2i2VW4bktlWyxNLuoYPNuYgryJmh5JPWMDgS3ht_TkkCD-1438m7"/>
		<!--服务商应用ID-SuiteID-->
		<add key="SuiteID" value="wxb2c32a583b5b64f1"/>
		<!--服务商应用ID-密钥-->
		<add key="SuiteID_Secret" value="otZd_8jZPbzbtd8S7OGZ4xFURNnnqvP6Y752bXR_oaY"/>
		<!-- 应用的值-->
		<add key="Token" value="vkgs8rv7TWg3"/>
		<!-- 用于消息内容加密 EncodingAESKey-->
		<add key="EncodingAESKey" value="tnzdpTX9BpqG2fad8oQHbou9KLjpDPelivp2qUflGeo"/>
		<!-- 所有的组织，一套岗责体系. -->
		<add key="GroupStationModel" value="0"/>
		<!-- 在会签的状态下是否允许撤销？ -->
		<add key="IsEnableUnSendWhenHuiQian" value="0"/>
		<!-- 消息处理页面 -->
		<add key="HandlerOfMessage" value="http://workflow-api.probim.cn/api/FlowForm/Flow/CCFlowSendMessage"/>
		<add key="HandlerOfMessage_del666" value="http://www.ccbpm.cn/App/HandlerOfMessage.aspx"/>
		<!--字段时间类型数据库存储方式 varchar datetime-->
		<add key="DateType" value="varchar"/>
		<!-- 是否启用会签待办列表, 如果启用了，主持人会签后就转到了HuiQianList.htm里面了.  -->
		<add key="IsEnableHuiQianList" value="0"/>
		<!-- ********************************** AD域的相关配置 ********************************** -->
		<!-- 域：ADPath 这里仅仅配置IP地址. -->
		<add key="ADBasePath" value="LDAP://xxxxx.ccflow.org"/>
		<add key="ADPath" value="chichengsoft"/>
		<add key="ADUser" value="administrator"/>
		<add key="ADPassword" value="xxxxxx"/>
		<!-- 回话时长分钟 cookies 的会话时长. -->
		<add key="SessionLostMinute" value="5000000"/>
		<!-- 短消息写入类型:  0=写入Sys_SMS表 1=写入丁丁 2=写入微信 3=写入指定的Webservice接口
    说明:
    1, 消息发送系统都会写入Sys_SMS表中里面去,该类位于 BP.WF.SMS 
    2, 在该类的AfterInsert方法里
    -->
		<add key="ShortMessageWriteTo" value="3"/>
		<!-- 是否启用CCIM,如果启用ccim则所有的消息都会向ccim里面发送,并且还会向指定的设备发送.
    比如: 短信消息,即发送短信，也发送ccim消息通知. 这里需要CCIM的表也需要在当前数据库上. -->
		<add key="IsEnableCCIM" value="0"/>
		<!-- 发送邮件的设置，为流程服务设置的邮件发送,如果需要发送邮件需要ccflow的服务启动。 -->
		<add key="SendEmailHost11" value="smtp.tom.com"/>
		<add key="SendEmailPort11" value="25"/>
		<add key="SendEmailAddress111" value="ccbpmtester@tom.com"/>
		<add key="SendEmailPass11" value="ccbpm123"/>
		<!-- 是否启用ssl 加密? 有的邮件服务器不需要加密，就设置为0. 
         注意:很多朋友配置不成功就是因为此参数gmail为true，大多的smtp服务器是false.-->
		<add key="SendEmailEnableSsl" value="0"/>
		<!-- 附件的FTP 服务器的配置(如果上传附件需要存储到ftp服务器上) -->
		<add key="FTPServerIP" value="ccflow.org"/>
		<add key="FTPUserNo" value="FtpTest"/>
		<add key="FTPUserPassword" value="asdfasd3**$232d00932a1ldw"/>
		<!-- OSS服务的Bucket所在地域对应的Endpoint。以华东1（杭州）为例，Endpoint填写为https://oss-cn-hangzhou.aliyuncs.com。-->
		<add key="OSSEndpoint" value="https://oss-cn-hangzhou.aliyuncs.com" />
		<!-- OSS服务的访问密钥AccessKey简称AK，指的是访问身份验证中用到的AccessKeyId和AccessKeySecret-->
		<add key="OSSAccessKeyId" value="********" />
		<add key="OSSAccessKeySecret" value="*******" />
		<!-- OSS服务的Bucket名称，例如examplebucket -->
		<add key="OSSBucketName" value="examplebucket" />
		<!-- 用户信息显示格式 @0=UserID,UserName@1=UserNo,@2=UserName   0=zhangsa,张三.  1=zhangsan,  2=张三. -->
		<add key="UserInfoShowModel" value="0"/>
		<!-- 是否:debug状态. 0 表示不是, 1 是，如果系统发布后，请将此修改成0，以提高执行效率。 -->
		<add key="IsDebug" value="0"/>
		<!-- 是否:自动测试模式. 0-不是, 1 -是，注意：系统发布后，勿必将此修改成0，否则可能影响部分功能使用(2017-09-08暂时仅影响VSTO插件功能)。 -->
		<add key="IsAutoTesting" value="0"/>
		<!-- 是否启用共享任务池, 请参考操作手册中的多人处理模式, 当一个节点为共享模式时，-->
		<add key="IsEnableTaskPool" value="1"/>
		<!-- 是否启用草稿 -->
		<add key="IsEnableDraft" value="1"/>
		<!-- 是否检查树形表单为空的逻辑（为测试所使用测试的自动运行,默认为1） -->
		<add key="IsEnableCheckFrmTreeIsNull" value="1"/>
		<!-- 是否启用数值类型为空值，在一些工作环境下，数值类型的数据如果用户不输入就默认为null，显示时也要显示""，而非默认为0。如果要启用这个环境下的应用就需要设置0，默认为0. -->
		<add key="IsEnableNull" value="1"/>
		<!-- 是否启用消息机制,如果启用产生的消息就会写入Sys_SMS表里. -->
		<add key="IsEnableSysMessage" value="0"/>
		<!-- 是否启用检查用户的禁用非禁用状态,如果是1，则当用户被禁用后，系统就会立刻生效. -->
		<add key="IsEnableCheckUseSta" value="0"/>
		<!-- 服务器的URL,用于cs流程服务中获取url信息，来执行流程事件. 调用datauser\*.* webservices的接口. -->
		<add key="HostURL" value="http://tjg.ccbpm.cn"/>
		<!--移动端服务器地址-->
		<add key="MobileURL" value="http://tjg.ccbpm.cn"/>
		<!-- SDK表单上服务器地址,应用到使用ccflow的时候使用的是sdk表单,该表单会存储在其他的服务器上.-->
		<add key="SDKFromServHost" value="http://127.0.0.1:8158/"/>
		<!-- 与ccflow流程服务相关的配置: 执行自动任务节点，间隔的时间，以分钟计算，默认为2分钟。-->
		<add key="AutoNodeDTSTimeSpanMinutes" value="2"/>
		<!-- BaseUrl, 此设置会用到CS程序中，用于执行URL. -->
		<add key="BaseUrl" value="http://localhost:13432"/>
		<!-- 默认语言 CH 为简体中文,其它语言请参考枚举 -->
		<add key="SysLanguage" value="CH"/>
		<!-- 系统编号:不要修改它. -->
		<add key="SysNo" value="CCFlow"/>
		<add key="SysName" value="驰骋工作流引擎ccbpm6"/>
		<!-- 客户编号:此编号用户处理不同的客户个性化的要求. -->
		<add key="CustomerNo" value="CCFlow"/>
		<add key="CustomerName" value="驰骋工作流"/>
		<!--打印水文:用于表单生成PDF文件时，文件模板内容-->
		<add key="PrintBackgroundWord" value="开源驰骋@Opencc"/>
		<!-- 每次取最大数据行数(不要修改) -->
		<add key="TopNum" value="99999"/>
		<!-- 默认每页数据行数(不要低于5) -->
		<add key="PageSize" value="15"/>
		<!--服务信息: 当程序出现异常就会显示该信息,以方便通知管理员处理. -->
		<add key="ServiceMail" value="ccflow@ccflow.org"/>
		<add key="ServiceTel" value="0531-82374939"/>
		<!-- 与时效有关的考核. AMFrom上下班时间. 节假日设置流程设计器->系统功能->系统设置->节假日设置. -->
		<add key="AMFrom" value="08:00"/>
		<add key="AMTo" value="12:00"/>
		<!-- 下午下班时间 -->
		<add key="PMFrom" value="14:00"/>
		<add key="PMTo" value="18:00"/>
		<!--  一天有效的工作小时数(中午工作小时+下午工作小时)  -->
		<add key="AMPMHours" value="8"/>
		<!--  中午间隔的小时数(是 PMFrom -AMTo )  -->
		<add key="AMPMTimeSpan" value="2"/>
		<!-- VSTO插件版本号 -->
		<add key="VstoExtensionVersion" value="1.0.0.10"/>
	</appSettings>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".woff2"/>
			<mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
		</staticContent>
	</system.webServer>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<handlers>
			<remove name="ChartImageHandler"/>
			<add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
	<!--禁用Mime嗅探-->
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="X-Content-Type-Options" value="nosniff"/>
				<add name="Cache-Control" value="no-cache"/>
			</customHeaders>
		</httpProtocol>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.1.0" newVersion="1.1.1.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="ADB9793829DDAE60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.2.0" newVersion="1.1.2.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="ICSharpCode.SharpZipLib" publicKeyToken="1b03e6acf1164f73" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.3.1.9" newVersion="1.3.1.9"/>
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Google.Protobuf" publicKeyToken="a7d26565bac4d604" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-3.17.0.0" newVersion="3.17.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
			</dependentAssembly>
			<!--<dependentAssembly>
        <assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>-->
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Mono.Security" publicKeyToken="0738eb9f132ed756" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="K4os.Compression.LZ4" publicKeyToken="2186fa9121ef231d" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-1.2.6.0" newVersion="1.2.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.serviceModel>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
	</system.serviceModel>
</configuration>
