<?xml version="1.0" encoding="UTF-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  </configSections>
  <system.web>
    <identity impersonate="false" userName="administrator" password="bpm2017@123" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="Microsoft.Office.Interop.Owc11, Version=11.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />-->
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <webServices>
      <protocols>
        <add name="HttpGet" /> 
        <add name="HttpPost" />
      </protocols>
    </webServices>
    <!--<globalization requestEncoding="GB2312" responseEncoding="GB2312" />-->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <add path="scissors.axd" verb="*" type="BitmapCutter.Core.HttpHandler.BitmapScissors,BitmapCutter.Core" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
    validate="false" />
    </httpHandlers>
    <customErrors mode="RemoteOnly" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting"
         assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <!--
     如果您使用了 ccform　富文本编辑框，就要启动下面的两个设置．
    <pages validateRequest="false" />
    <httpRuntime requestValidationMode="2.0" />
    -->
    <httpRuntime maxRequestLength="2147483647" executionTimeout="99999" requestValidationMode="2.0" />
  </system.web>
  <appSettings>
    
    <!-- 数据库连接配置:  AppCenterDBType 类型为Oracle,MSSQL,Informix,MySQL
         注意:
         1，数据库用户必须有一定的权限否则创建表会出错误.
         2，如果是Informix数据库请注意要首先执行一些sql脚本.
    -->
    
    <add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=CCFlow6;Data Source=.;Timeout=999;MultipleActiveResultSets=true"/>
    <add key="AppCenterDBType" value="MSSQL"/>
    
    <!--组织结构数据模式, 0=OneOne模式(一个用户一个部门多岗位） 1=OneMore模式. 一个用户多个部门多岗位. -->
    <add key="OSModel" value="1" />

    <!-- 数据库连接 Demo 
      <add key="AppCenterDSN" value="Host=10.0.2.36;Service=8001;Server=niosserver; Database=ccflow6; UId=npmuser; Password=ccflow;Database locale=en_US.819;Client Locale=en_US.CP1252"/>
      <add key="AppCenterDBType" value="Informix"/>
       
      <add key="AppCenterDSN" value="Data Source=localhost;Persist Security info=True;Initial Catalog=ccflow;User ID=root;Password=ccflow;Charset=utf8"/>
      <add key="AppCenterDBType" value="MySQL"/>
   
      <add key="AppCenterDSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=ccflow6;Data Source=.;Timeout=999;MultipleActiveResultSets=true"/>
      <add key="AppCenterDBType" value="MSSQL"/>
   
      <add key="AppCenterDSN" value="user id=ccflow6;data source=orcl;password=ccflow;Max Pool Size=200"/>
      <add key="AppCenterDBType" value="Oracle"/>
   -->

    <!-- 回话时长分钟 cookies 的会话时长. -->
    <add key="SessionLostMinute" value="5000000" />
    
    <!--是否启用beta版, 如果是beta版就是.--> 
    <add key="IsBeta" value="1"/>
    <!--是否在结束流程时，打开结束流程窗口 0表示不打开 1表示打开-->
    <add key="IsOpenEndFlow" value="1"/>
    <!--组织结构数据来源. 0=通过数据库,1=通过websercices(未完成),2=AD(未完成)  -->
    <add key="OSDBSrc" value="0"  />
    <!-- 是否启用密码加密. -->
    <add key="IsEnablePasswordEncryption" value="0"  />
    
    <!-- 短消息写入类型:  0=写入Sys_SMS表 1=写入丁丁 2=写入微信 3=写入指定的Webservice接口
    说明:
    1, 消息发送系统都会写入Sys_SMS表中里面去,该类位于 BP.WF.SMS 
    2, 在该类的AfterInsert方法里
    -->
    <add key="ShortMessageWriteTo" value="3" />
    <!-- 是否启用CCIM,如果启用ccim则所有的消息都会向ccim里面发送,并且还会向指定的设备发送.
    比如: 短信消息,即发送短信，也发送ccim消息通知. 这里需要CCIM的表也需要在当前数据库上. -->
    <add key="IsEnableCCIM" value="0" />
    <!-- 发送邮件的设置，为流程服务设置的邮件发送,如果需要发送邮件需要ccflow的服务启动。 -->
    <add key="SendEmailHost" value="smtp.tom.com" />
    <add key="SendEmailPort" value="25" />
    <add key="SendEmailAddress" value="ccbpmtester@tom.com" />
    <add key="SendEmailPass" value="ccbpm123" />
    <!-- 是否启用ssl 加密? 有的邮件服务器不需要加密，就设置为0. 
         注意:很多朋友配置不成功就是因为此参数gmail为true，大多的smtp服务器是false.-->
    <add key="SendEmailEnableSsl" value="0" />

    <!--获取组织结构的WebServices地址,默认为 /DataUser/PortalInterface.asmx
     1.开发者根据需要可以移植到其他的应用程序上.    
     1.也可以保持不变而改变里面的方法。 -->
    <add key="OSDBSrcWSAddr" value="/DataUser/PortalInterface.asmx" />
    <!-- 测试用的通用密码，任何用户都可以使用这个密码，这是管理员知道. -->
    <add key="GenerPass" value="123" />

    <!-- 附件的FTP 服务器的配置(如果上传附件需要存储到ftp服务器上) -->
    <add key="FTPServerIP" value="127.0.0.1" />
    <add key="FTPUserNo" value="zhangsan" />
    <add key="FTPUserPassword" value="123" />

    <!-- ********************************ccflowgitnew2**********  与ccgpm连接相关的配置,如果不与ccgpm连接该配置可以忽略(默认不连接). -->
    <!-- 集成CCPGM配置: 访问连接的字串,与数据库类型.-->
    <add key="CCPortal.DSN" value="Password=ccflow;Persist Security Info=True;User ID=sa;Initial Catalog=ccflow6;Data Source=.;Timeout=2"/>
    <!-- 集成CCPGM配置: 数据类型： MSSQL, Oracle, Informix ,MySQL(现在不支持)-->
    <add key="CCPortal.DBType" value="MSSQL" />
    <!-- 集成CCPGM配置: 系统编号:此编号要与GPM系统中的编号一致.-->
    <add key="CCPortal.AppNo" value="CCFlowBPM" />

    <!-- 第3方数据库连接 ccbpm 在运行的过程中，需要与第3方的数据库进行存取数据, 这里枚举了一些数据库连接，如果需要连接就要设置他们.  -->
    <add key="DBAccessOfMSSQL1" value="password=ccflow;persist security info=true;user id=sa;initial catalog=ccoa;data source=.;timeout=10;multipleactiveresultsets=true"/>
    <add key="DBAccessOfMSSQL2" value="password=ccflow;persist security info=true;user id=sa;initial catalog=BaoMi;data source=.;timeout=10;multipleactiveresultsets=true"/>
    <add key="DBAccessOfOracle1" value="user id=ccflow6;data source=orcl;password=ccflow;Max Pool Size=200"/>
    <add key="DBAccessOfOracle2" value="user id=ccflow6;data source=orcl;password=ccflow;Max Pool Size=200"/>
    <add key="DBAccessOfOLE"    value="user id=ccflow6;data source=orcl;password=ccflow;Max Pool Size=200"/>

    <!-- 与第三方的WebServices连接. CCFormWS1是1号连接 CCFormWS2是2号连接....  -->
    <!--
    <add key="CCFormWSName1"  value="链接到" />
    <add key="CCFormWSUrl1"  value="http://127.0.0.1/SDKFlowDemo/CCFormWebServiceTester.asmx" />
    <add key="CCFormWS2"  value="http://127.0.0.1/SDKFlowDemo/CCFormWebServiceTester.asmx" />-->
    
    <!-- 辅助管理员 -->
    <add key="adminers" value="admin,zhoupeng," />
    <!-- CCIM的数据库位置通过调度系统把消息写入CCIM. 如果CCIM是与ccFlow集成，就配置ccflow所在的数据库名称,如果CCIM是与CCPort集成一配置CCPort连接的数据库. -->
    <add key="CCIMDBName" value="ccflow6.dbo" />
    <!-- 流程控制按钮位置 @Top=头部@Bottom=底部 -->
    <add key="FlowCtrlBtnPos" value="Top" />

    <!-- 用户信息显示格式 @0=UserID,UserName@1=UserNo,@2=UserName   0=zhangsa,张三.  1=zhangsan,  2=张三. -->
    <add key="UserInfoShowModel" value="0" />
    <!-- 是否:debug状态. 0 表示不是, 1 是，如果系统发布后，请将此修改成0，以提高执行效率。 -->
    <add key="IsDebug" value="0" />
    <!-- 是否:自动测试模式. 0-不是, 1 -是，注意：系统发布后，勿必将此修改成0，否则可能影响部分功能使用(2017-09-08暂时仅影响VSTO插件功能)。 -->
    <add key="IsAutoTesting" value="0" />
    <!-- 是否启用共享任务池, 请参考操作手册中的多人处理模式, 当一个节点为共享模式时，-->
    <add key="IsEnableTaskPool" value="1" />
    <!-- 是否启用草稿 -->
    <add key="IsEnableDraft" value="1" />
    <!-- 是否检查树形表单为空的逻辑（为测试所使用测试的自动运行,默认为1） -->
    <add key="IsEnableCheckFrmTreeIsNull" value="1" />
    <!-- 是否启用制度 -->
    <add key="IsEnableZhiDu" value="0" />
    <!-- 是否启用数值类型为空值，在一些工作环境下，数值类型的数据如果用户不输入就默认为null，显示时也要显示""，而非默认为0。如果要启用这个环境下的应用就需要设置0，默认为0. -->
    <add key="IsEnableNull" value="1" />
    <!-- 可以打开公文处理的类型,用于多附件处理公文的打开控制: doc,docx,pdf， 注意要小写. -->
    <add key="OpenTypes" value="aaa" />
    <!-- 是否启用消息机制,如果启用产生的消息就会写入Sys_SMS表里. -->
    <add key="IsEnableSysMessage" value="0" />
    <!-- 是否启用检查用户的禁用非禁用状态,如果是1，则当用户被禁用后，系统就会立刻生效. -->
    <add key="IsEnableCheckUseSta" value="0" />
    <!-- 以下是为UI做的配置，与应用无关.  -->
    <!-- 是否启动工作时打开新窗口 0=在本窗口打开,1=在新窗口打开, 2=打开流程一户式窗口 -->
    <add key="IsWinOpenStartWork" value="1" />
    <!-- 是否打开待办工作时打开新窗口 -->
    <add key="IsWinOpenEmpWorks" value="1" />
    <!-- DataDirPath 系统配置文件路径 -->
    <add key="DataDirPath" value="WF" />
    <!-- 是否显示用户名与在轨迹节点里,默认为1. -->
    <add key="FlowDesignerIsShowUserNameInNode" value="1" />
    <!-- 服务器的URL,用于cs流程服务中获取url信息，来执行流程事件. 调用datauser\*.* webservices的接口. -->
    <add key="HostURL" value="http://127.0.0.1:30362/" />
    <!-- SDK表单上服务器地址,应用到使用ccflow的时候使用的是sdk表单,该表单会存储在其他的服务器上.-->
    <add key="SDKFromServHost" value="http://127.0.0.1:8158/" />
    <!-- 与ccflow流程服务相关的配置: 执行自动任务节点，间隔的时间，以分钟计算，默认为2分钟。-->
    <add key="AutoNodeDTSTimeSpanMinutes" value="2" />
    <!-- 是否是集团使用 -->
    <add key="IsUnit" value="0" />
    <!-- 富文本文件上传位置 -->
    <add key="RichTextBoxAttached" value="\\DataUser\\RichTextBoxAttached\\" />
    <!-- 流程人员设计岗: 如果不设置，就会认为只有admin可以设计流程 -->
    <add key="FlowDesignerStation" value="00" />
    <!-- 用户风格: Ccflow暂不支持用户选择表单风格，表单风格是由管理员通过配置文件指定，如何个性化ccflow的风格让其与你的系统协调，请参考说明书. -->
    <add  key="UserStyle" value="ccflow默认"/>
    <!-- 修改主部门SQL,在一个人多部门的情况下，用户处理业务需要指定当前自己的登录状态下的部门.在执行切换部门功能时，需要执行一个SQL, 把Port_Emp信息的FK_Dept设置成当前部门的ID.
    又是因为在集成的模式下Port_Emp是个视图，所以要更新视图背后的物理表，执行的SQL就要配置到这里。 -->
    <add key="UpdataMainDeptSQL" value="UPDATE Port_Emp SET FK_Dept=@FK_Dept WHERE No=@No"  />
    <!-- 
    对于组织结构集成模式有效.
    0. 该标记在 Dev2Interface.Port_SetSID() 调用.
    1. 如果集成模式下需要,每次登录成功, 需要设置登陆的SID, 集成用户是用视图模式映射的如果更新视图就会异常.
    2. 配置方法实例1:  UPDATE MyUserTable SET SID=@SID WHERE UserNo=@No .
    3. 配置方法实例2:  UPDATE erp.dbo.MyUserTable SET SID=@SID WHERE UserNo=@No .
    -->
    <add key="UpdateSID" value="UPDATE Port_Emp SET SID=@SID WHERE No=@No"  />
    <!-- BaseUrl, 此设置会用到CS程序中，用于执行URL. -->
    <add key="BaseUrl" value="http://localhost:13432"/>
    <!-- 如果把ccflow部署到内网，在使用到silverlight时，用户端没有安装Silverlight就不能连接到微软的网站上下载，此配置解决了在内网上下载使用silverlight的问题.  -->
    <add key="SilverlightDownloadUrl" value="/WF/Activex/Silverlight.exe" />

    <!-- 默认语言 CH 为简体中文,其它语言请参考枚举 -->
    <add key="SysLanguage" value="CH" />
    <!-- 初始化的数据库缓存池数量根据自己的服务器性能，与访问者多少的需要,设置相应的参数,以提高并发访问效率. -->
    <add key="InitConnNum" value="10" />

    <!-- 系统编号:不要修改它. -->
    <add key="SysNo" value="CCFlow" />
    <add key="SysName" value="驰骋工作流引擎ccbpm6" />

    <!-- 客户编号:此编号用户处理不同的客户个性化的要求. -->
    <add key="CustomerNo" value="CCFlow" />
    <add key="CustomerName" value="驰骋工作流" />
    <!--打印水文:用于表单生成PDF文件时，文件模板内容-->
    <add key="PrintBackgroundWord" value="开源驰骋@Opencc" />


    <!-- 每次取最大数据行数(不要修改) -->
    <add key="TopNum" value="99999" />
    <!-- 默认每页数据行数(不要低于5) -->
    <add key="PageSize" value="15" />
    <!--群集IP: 对于群集有效 -->
    <add key="CIP" value="127.0.0.1" />

    <!--公文ftp服务器配置:如果没有用到就可以忽略掉. -->
    <add key="FtpIP" value="127.0.0.1" />
    <add key="FtpUser" value="administrator" />
    <add key="FtpPass" value="ccflow" />

    <!--服务信息: 当程序出现异常就会显示该信息,以方便通知管理员处理. -->
    <add key="ServiceMail" value="ccflow@ccflow.org" />
    <add key="ServiceTel" value="0531-82374939" />

    <!-- 与时效有关的考核. AMFrom上下班时间. 节假日设置流程设计器->系统功能->系统设置->节假日设置. -->
    <add key="AMFrom" value="08:00" />
    <add key="AMTo" value="12:00"  />
    <!-- 下午下班时间 -->
    <add key="PMFrom" value="14:00" />
    <add key="PMTo" value="18:00"  />
    <!--  一天有效的工作小时数(中午工作小时+下午工作小时)  -->
    <add key="AMPMHours" value="8" />
    <!--  中午间隔的小时数(是 PMFrom -AMTo )  -->
    <add key="AMPMTimeSpan" value="2" />

    <!--FTP 相关的-->
    <add key="FTPServerIP" value="ftp://ccflow.org" />
    <!-- 在FTP上的惟一标识,最好换成公司或个人的英文名(只有ccflow的VIP客户才允许)-->
    <add key="UserIdentifier" value="CCFlow" />
    <add key="About" value="济南驰骋信息技术公司研发@2003-2016" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=~/DataUser/TempImageFiles/;" />

    <!-- 以下是ccim的配置, 如果不是用ccim，请忽略此配置. **********************************  -->
    <!-- CCIM相关的配置(如果不使用ccim可以忽略此配置) -->
    <add key="AV_TCP_Port" value="99" />
    <add key="AV_UDP_Port" value="99" />
    <add key="File_TCP_Port" value="110" />
    <add key="File_UDP_Port" value="109" />
    <!-- CCIM相关的配置.是否使用数据密码.  -->
    <add key="IsUseDataBasePassword" value="1" />
    <add key="Msg_TCP_Port" value="68" />
    <add key="Msg_UDP_Port" value="67" />
    <add key="MyTaskURI" value="http://127.0.0.1/GPM" />
    <add key="NetDomainName" value="ccflow.org" />
    <!-- CCIM相关的配置.网路硬盘. -->
    <add key="NetHardDiskPassword" value="1234567" />
    <add key="NetHardDiskURI" value="http://127.0.0.1/HardDisk/" />
    <add key="NetHardDiskUserName" value="administrator" />
    
    <!-- VSTO插件版本号 -->
    <add key="VstoExtensionVersion" value="1.0.0.10"/>

  </appSettings>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".xap" />
      <mimeMap fileExtension=".xap" mimeType="xapapplication/x-silverlight" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST"
       path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>
</configuration>
