<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CCFormAPISoap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="CCFormAPISoap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:3569/WF/CCForm/CCFormAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="CCFormAPISoap"
                contract="CCForm.CCFormAPISoap" name="CCFormAPISoap" />
            <endpoint address="http://localhost:3569/WF/CCForm/CCFormAPI.asmx"
                binding="customBinding" bindingConfiguration="CCFormAPISoap12"
                contract="CCForm.CCFormAPISoap" name="CCFormAPISoap12" />
        </client>
    </system.serviceModel>
</configuration>