@charset "utf-8";
#eui{margin-left:auto; margin-right:auto; width:1002px; height: 730px;font-family:'宋体'!important;}
.eui_top{height: 25px;padding-top:10px;padding-left:20px;}  /*height: 25px;padding-top:10px;padding-left:20px;*/
.sortName{width: 230px;}
.eui_pho{background:url(../images/navlet_bg.png) repeat-x;width:228px;height:42px;  }
.curPosition{font-size:15px;color:gray;}
.curPosition a{color:#4FAAF4;}
.curPosition a:hover{ text-decoration:underline;}
.lab_pho{position:absolute; top:10px;left:35px;font-size:18px;color:White;}
.sortName ul {margin-top:10px;}
.sortName ul li{width:218px;height:35px;margin-top:5px;border:1px solid #EFEFEF;margin:2px auto; text-indent:7px;background:url(../images/zj_gl3.gif) no-repeat 15px center;}
.sortName ul li a{margin-left:33px;font-size:16px;color:Black;line-height:35px;}
.sortName ul li:hover{background-color:#EFEFEF;}
.eui_east{margin:0px; padding:0px; width: 763px;background:url(../images/zj_gl8.gif) repeat-x;}
.bgPho{width: 760px;height:13px;background:url(../images/zj_gl5.gif) repeat-x;}
.eui_east ul{margin-top:50px; width:760px;overflow:hidden;}
.lab{height:15px;font-size:15px;line-height:20px;margin-left:20px;text-indent:10px;color:Green;font-family:'宋体'!important;font-weight:bold; background:url(../images/zj_gl7.gif) no-repeat left center;}
.item_TitleCss a{color: #4FAAF4;text-decoration:none;}
.item_TitleCss a:hover{text-decoration:underline;}
.item_DataCss{width:120px; float:right;color:Gray;height:15px; margin-top:10px; line-height:20px;text-indent:3px}
.item_TitleCss{float:left;display:inline;margin-top:10px;cursor:pointer;}
.item_Pro_TitleCss{float:left;width:740px;float:left; margin-top:10px; height:20px;font-size:12px;
               line-height:20px;margin-left:10px;background:url(../images/zj_gl6.gif) no-repeat left center;}
.item_TitleCss .pros{margin:5px 15px 5px 20px;}
.item_TitleCss .pros div{ margin-top:6px;}
.protitle a{color:#4FAAF4;}

.datagrid-cell a{color:#4FAAF4;}
.datagrid-cell a:hover{ text-decoration:underline;}