

 
table
{
    border-top-style: 1;
    border-right-style: 1;
    border-bottom-style: 1;
    border-left-style: 1;
    border-width: 1px;
    border-top-color: 1;
    border-right-color: 1;
    border-bottom-color: 1;
    border-left-color: 1;
}
