<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="../../../../DataUser/Style/ccbpm.css" rel="stylesheet" type="text/css" />
    <link href="../../../Scripts/easyUI145/themes/icon.css" rel="stylesheet" type="text/css" />
    <link href="../../../Scripts/easyUI145/themes/default/easyui.css" rel="stylesheet" type="text/css" />
    <script src="../../../Scripts/jquery-1.7.2.min.js" type="text/javascript"></script>
    <script src="../../../Scripts/easyUI/jquery.easyui.min.js" type="text/javascript"></script>
    <script src="../../../Scripts/QueryString.js" type="text/javascript"></script>
    <script type="text/javascript" src="../../../Scripts/config.js"></script>
    <script type="text/javascript" src="../../../Comm/Gener.js"></script>
    <script src="DDLBar.js" type="text/javascript"></script>
    <script src="../../CCFlowEnum.js" type="text/javascript"></script>
    <script src="../../../Scripts/EasyUIUtility.js" type="text/javascript"></script>
    <script src="../../../Scripts/vue.js"></script>
</head>
<body>
    <div id="App">
        <div id="bar"> </div>

        <div id="AdminModel">
            <fieldset>
                <legend>设置</legend>
                <ul>
                    <li><a href="#" @click="OpenNew()"> 设置/更改用户组</a></li>
                    <!-- <li><a href="javascript:OpenOld()">设置/更改部门(旧版本)</a></li>-->
                    <li>该用户组下所有的人员都可以处理该节点的工作。</li>
                </ul>
            </fieldset>
        </div>

        <fieldset>
            <legend>已经选择的用户组</legend>
            <div id="group">
                <ul>
                    <li v-show="groups.length===0">未设置</li>
                    <template v-for="group in groups">
                        <li v-if="group.FK_Team!=undefined">{{group.FK_TeamText}}</li>
                    </template>
                </ul>

            </div>
        </fieldset>

        <fieldset>
            <legend id="help">帮助</legend>
            <ul>
                <li>节点绑定用户组就是该节点下绑定用户组里面的所有人员都可以接受该工作.</li>
            </ul>
        </fieldset>
    </div>
    <script type="text/javascript">
        var Baseinfo = new Vue({
            el: '#App',
            data: {
                groups: [],
                deliverWay: SelectorModel.TeamDeptOnly
            },
            methods: {
                OpenNew: function () {

                    var nodeID = GetQueryString("FK_Node");
                    var url = "../../../Comm/RefFunc/Dot2Dot.htm?EnName=BP.WF.Template.FlowSheet&Dot2DotEnsName=BP.WF.Template.NodeTeams&AttrOfOneInMM=FK_Node&AttrOfMInMM=FK_Team&EnsOfM=BP.Port.Teams&DefaultGroupAttrKey=";
                    url += '&No=' + nodeID + '&PKVal=' + nodeID;

                    OpenEasyUiDialogExtCloseFunc(url, '绑定用户组', 500, 350, function () {
                        Baseinfo.groups = getGroups();
                    });
                }
            },
            created() {
                InitBar(this.deliverWay);
                this.groups = getGroups();

            }
        });

        //保存
        function Save() {

            var nodeID = GetQueryString("FK_Node");
            var node = new Entity("BP.WF.Template.Selector", nodeID);
            node.SelectorModel = SelectorModel.TeamDeptOnly;
            node.Update();

            var node = new Entity("BP.WF.Template.NodeExt", nodeID);
            node.DeliveryWay = 4;
            node.Update();


            alert("保存成功.");
        }
    </script>
</body>
</html>
