/* zhoupeng add.  */
.icon-CC
{
    background: url('CC.png') no-repeat;
}

.icon-Sender
{
    background: url('Sender.png') no-repeat;
}


.icon-Event
{
    background: url('../../../../Img/Event.png') no-repeat;
}

.icon-Cond
{
    background: url('Cond.png') no-repeat;
}

.icon-Listion
{
    background: url('Listion.png') no-repeat;
}

.icon-AddNode
{
    background: url('AddNode.png') no-repeat;
}
.icon-CheckFlow
{
    background: url('CheckFlow.png') no-repeat;
}

.icon-RunFlow
{
    background: url('RunFlow.png') no-repeat;
}

.icon-Line
{
    background: url('Line.gif') no-repeat;
}

.icon-Text
{
    background: url('text.png') no-repeat;
}
