<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="DocFlowSoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                        maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DocFlowSoap1" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                        maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DocFlowSoap2" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                        maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="DocFlowSoap3" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
                        maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="CCFlowAPISoap" closeTimeout="00:01:00" openTimeout="00:01:00"
                    receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false"
                    bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="655360000" maxBufferPoolSize="5242880000" maxReceivedMessageSize="655360000"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
                        maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
            <customBinding>
                <binding name="DocFlowSoap12">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                            maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="5242880000"
                        maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="DocFlowSoap121">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                            maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="5242880000"
                        maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="DocFlowSoap122">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="819200000"
                            maxArrayLength="1638400" maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="5242880000"
                        maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="DocFlowSoap123">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
                            maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="5242880000"
                        maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
                <binding name="CCFlowAPISoap12">
                    <textMessageEncoding maxReadPoolSize="64" maxWritePoolSize="16"
                        messageVersion="Soap12" writeEncoding="utf-8">
                        <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="1638400"
                            maxBytesPerRead="409600" maxNameTableCharCount="1638400" />
                    </textMessageEncoding>
                    <httpTransport manualAddressing="false" maxBufferPoolSize="5242880000"
                        maxReceivedMessageSize="655360000" allowCookies="false" authenticationScheme="Anonymous"
                        bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
                        keepAliveEnabled="true" maxBufferSize="655360000" proxyAuthenticationScheme="Anonymous"
                        realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
                        useDefaultWebProxy="true" />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:50572/WF/DocFlow/DocFlow.asmx"
                binding="basicHttpBinding" bindingConfiguration="DocFlowSoap2"
                contract="CCFlow.DocFlowSoap" name="DocFlowSoap" />
            <endpoint address="http://localhost:50572/WF/DocFlow/DocFlow.asmx"
                binding="customBinding" bindingConfiguration="DocFlowSoap122"
                contract="CCFlow.DocFlowSoap" name="DocFlowSoap12" />
            <endpoint address="http://localhost:50572/WF/WorkOpt/CCFlowAPI.asmx"
                binding="basicHttpBinding" bindingConfiguration="CCFlowAPISoap"
                contract="CCFlow.CCFlowAPISoap" name="CCFlowAPISoap" />
            <endpoint address="http://localhost:50572/WF/WorkOpt/CCFlowAPI.asmx"
                binding="customBinding" bindingConfiguration="CCFlowAPISoap12"
                contract="CCFlow.CCFlowAPISoap" name="CCFlowAPISoap12" />
            <endpoint address="http://localhost:50572/WF/DocFlow/DocFlow.asmx"
                binding="basicHttpBinding" bindingConfiguration="DocFlowSoap3"
                contract="DocFlow.DocFlowSoap" name="DocFlowSoap1" />
            <endpoint address="http://localhost:50572/WF/DocFlow/DocFlow.asmx"
                binding="customBinding" bindingConfiguration="DocFlowSoap123"
                contract="DocFlow.DocFlowSoap" name="DocFlowSoap121" />
        </client>
    </system.serviceModel>
</configuration>