.panel{overflow:hidden;text-align:left}
.panel-body,.panel-header{border-style:solid;border-width:1px}
.panel-header{position:relative;padding:5px}
.panel-title{background:url(images/blank.gif) no-repeat}
.panel-header-noborder{border-width:0 0 1px 0}
.panel-body{overflow:auto;border-top-width:0}
.panel-body-noheader{border-top-width:1px}
.panel-body-noborder{border-width:0}
.panel-with-icon{padding-left:18px}
.panel-icon,.panel-tool{position:absolute;top:50%;overflow:hidden;margin-top:-8px;height:16px}
.panel-icon{left:5px;width:16px}
.panel-tool{right:5px;width:auto}
.panel-tool a{display:inline-block;margin:0 0 0 2px;width:16px;height:16px;vertical-align:top;opacity:.6}
.panel-tool a:hover{-webkit-border-radius:3px 3px 3px 3px;-moz-border-radius:3px 3px 3px 3px;border-radius:3px 3px 3px 3px;background-color:#eaf2ff;opacity:1}
.panel-loading{padding:11px 0 10px 30px}
.panel-noscroll{overflow:hidden}
.panel-fit,.panel-fit body{overflow:hidden;margin:0;padding:0;height:100%;border:0}
.panel-loading{background:url(images/loading.gif) no-repeat 10px 10px}
/*.panel-tool-close{background:url(images/panel_tools.png) no-repeat -16px 0}*/
.panel-tool-close::before{content: '\e7e8'; background: #f7941f; width:16px; height: 16px; line-height: 16px; text-align: center; border-radius: 50%; color: #fff; padding: 0px; margin: 0px;}
.panel-tool-close:hover::before{background: #009688;}
.panel-tool-min{background:url(images/panel_tools.png) no-repeat 0 0}
.panel-tool-max{background:url(images/panel_tools.png) no-repeat 0 -16px}
.panel-tool-restore{background:url(images/panel_tools.png) no-repeat -16px -16px}
.panel-tool-collapse{background:url(images/panel_tools.png) no-repeat -32px 0}
.panel-tool-expand{background:url(images/panel_tools.png) no-repeat -32px -16px}
.panel-body,.panel-header{border-color:#95b8e7}
.panel-header{background:-webkit-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:-moz-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:-o-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:linear-gradient(to bottom,#eff5ff 0,#e0ecff 100%);background-color:#e0ecff;background-repeat:repeat-x}
.panel-body{background-color:#fff;color:#000;font-size:12px}
.panel-title{height:16px;color:#0e2d5f;font-weight:700;font-size:12px;line-height:16px}
.accordion{overflow:hidden;border-style:solid;border-width:1px}
.accordion .accordion-header{border-width:0 0 1px;cursor:pointer}
.accordion .accordion-body{border-width:0 0 1px}
.accordion-noborder{border-width:0}
.accordion-noborder .accordion-header{border-width:0 0 1px}
.accordion-noborder .accordion-body{border-width:0 0 1px}
.accordion-collapse{background:url(images/accordion_arrows.png) no-repeat 0 0}
.accordion-expand{background:url(images/accordion_arrows.png) no-repeat -16px 0}
.accordion{border-color:#95b8e7;background:#fff}
.accordion .accordion-header{background:#e0ecff;filter:none}
.accordion .accordion-header-selected{background:#fbec88}
.accordion .accordion-header-selected .panel-title{color:#000}
/*.window{overflow:hidden;padding:5px;border-style:solid;border-width:1px}
.window .window-header{padding:0 0 6px 0;background:0 0}
.window .window-body{border-style:solid;border-width:1px;border-top-width:0}
.window .window-body-noheader{border-top-width:1px}
.window .window-header .panel-icon,.window .window-header .panel-tool{top:50%;margin-top:-11px}
.window .window-header .panel-icon{left:1px}
.window .window-header .panel-tool{right:1px}
.window .window-header .panel-with-icon{padding-left:18px}
.window-proxy{position:absolute;overflow:hidden}
.window-proxy-mask{position:absolute;opacity:.05}
.window-mask{position:absolute;top:0;left:0;overflow:hidden;width:100%;height:100%;font-size:1px;opacity:.4}
.window,.window-shadow{position:absolute;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px}
.window-shadow{background:#ccc;-webkit-box-shadow:2px 2px 3px #ccc;-moz-box-shadow:2px 2px 3px #ccc;box-shadow:2px 2px 3px #ccc}
.window,.window .window-body{border-color:#95b8e7}
.window{background:-webkit-linear-gradient(top,#eff5ff 0,#e0ecff 20%);background:-moz-linear-gradient(top,#eff5ff 0,#e0ecff 20%);background:-o-linear-gradient(top,#eff5ff 0,#e0ecff 20%);background:linear-gradient(to bottom,#eff5ff 0,#e0ecff 20%);background-color:#e0ecff;background-repeat:repeat-x}
.window-proxy{border:1px dashed #95b8e7}
.window-mask,.window-proxy-mask{background:#ccc}*/
.window {overflow:hidden;padding:0px; box-shadow:2px 3px 5px #ddd;}
.window .window-header {background:transparent;padding:0px; background: #f7f7f7; border:0px; }
.window .window-body {border-width:0px;border-style:solid;border-top-width:0px; padding: 15px;}
.window .window-body-noheader {border-top-width:1px;}
.window .panel-body-nobottom {border-bottom-width:0;}
.window .window-header  .panel-title{ line-height:38px; height:38px; margin:0px 8px; font-size:15px; color:#009688}
.window .window-header .panel-icon,.window .window-header .panel-tool {margin-top:-8px;background: none; font-family: "iconfont" !important;  font-size: 16px;  font-style: normal;  -webkit-font-smoothing: antialiased;  -moz-osx-font-smoothing: grayscale;color:#009688}
.window .window-header .panel-icon {left:10px;top:50%;}
.window .window-header .panel-tool {right:10px; }
.window .window-header .panel-with-icon {padding-left:25px;}
.window-proxy {position:absolute;overflow:hidden;}
.window-proxy-mask {position:absolute;filter:alpha(opacity=5);opacity:0.05;}
.window-mask {position:absolute;left:0;top:0;width:100%;height:100%;filter:alpha(opacity=40);opacity:0.40;font-size:1px;overflow:hidden;}
.window,.window-shadow {position:absolute;-moz-border-radius:5px 5px 5px 5px;-webkit-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;}
.window-shadow {background:#ccc;-moz-box-shadow:2px 2px 3px #cccccc;-webkit-box-shadow:2px 2px 3px #cccccc;box-shadow:2px 2px 3px #cccccc;filter:progid:DXImageTransform.Microsoft.Blur(pixelRadius=2,MakeShadow=false,ShadowOpacity=0.2);}
.window,.window .window-body {border-color:#95B8E7;}
.window {background-color:#fff;}
.window-proxy {border:1px dashed #95B8E7;}
.window-proxy-mask,.window-mask {background:#ccc;}
.window .panel-footer {border:1px solid #95B8E7;position:relative;top:-1px;}
.window-thinborder {padding:0;}
.window-thinborder .window-header {padding:5px 5px 6px 5px;}
.window-thinborder .window-body {border-width:0px;}
.window-thinborder .window-header .panel-icon,.window-thinborder .window-header .panel-tool {margin-top:-9px;margin-left:5px;margin-right:5px;}
.window-noborder {border:0;}

.dialog-content{overflow:auto}
.dialog-toolbar{padding:2px 5px}
.dialog-tool-separator{float:left;margin:2px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.dialog-button{padding:5px;text-align:right}
.dialog-button .l-btn{margin-left:5px}
.dialog-button,.dialog-toolbar{background:#f4f4f4}
.dialog-toolbar{border-bottom:1px solid #ddd}
.dialog-button{border-top:1px solid #ddd}
.combo{display:inline-block;overflow:hidden;margin:0;padding:0;border-style:solid;border-width:1px;vertical-align:middle;white-space:nowrap}
.combo .combo-text{margin:0;padding:0 2px;height:20px;border:0;vertical-align:baseline;font-size:12px;line-height:20px}
.combo-arrow{display:inline-block;overflow:hidden;width:18px;height:20px;vertical-align:top;opacity:.6;cursor:pointer}
.combo-arrow-hover{opacity:1}
.combo-panel{overflow:auto}
.combo-arrow{background:url(images/combo_arrow.png) no-repeat center center}
.combo,.combo-panel{background-color:#fff}
.combo{border-color:#95b8e7;background-color:#fff}
.combo-arrow{background-color:#e0ecff}
.combo-arrow-hover{background-color:#eaf2ff}
.combobox-item{padding:2px;padding:3px;padding-right:0;font-size:12px}
.combobox-item-hover{background-color:#eaf2ff;color:#000}
.combobox-item-selected{background-color:#fbec88;color:#000}
.layout{position:relative;z-index:0;overflow:hidden;margin:0;padding:0}
.layout-panel{position:absolute;overflow:hidden}
.layout-panel-east,.layout-panel-west{z-index:2}
.layout-panel-north,.layout-panel-south{z-index:3}
.layout-expand{position:absolute;z-index:1;padding:0;font-size:1px;cursor:pointer}
.layout-expand .panel-body,.layout-expand .panel-header{overflow:hidden;background:0 0;filter:none}
.layout-expand .panel-header{border-bottom-width:0}
.layout-split-proxy-h,.layout-split-proxy-v{position:absolute;z-index:5;display:none;font-size:1px}
.layout-split-proxy-h{width:5px;cursor:e-resize}
.layout-split-proxy-v{height:5px;cursor:n-resize}
.layout-mask{position:absolute;z-index:4;background:#fafafa;opacity:.1}
.layout-button-up{background:url(images/layout_arrows.png) no-repeat -16px -16px}
.layout-button-down{background:url(images/layout_arrows.png) no-repeat -16px 0}
.layout-button-left{background:url(images/layout_arrows.png) no-repeat 0 0}
.layout-button-right{background:url(images/layout_arrows.png) no-repeat 0 -16px}
.layout-split-proxy-h,.layout-split-proxy-v{background-color:#aac5e7}
.layout-split-north{border-bottom:5px solid #e6eef8}
.layout-split-south{border-top:5px solid #e6eef8}
.layout-split-east{border-left:5px solid #e6eef8}
.layout-split-west{border-right:5px solid #e6eef8}
.layout-expand{background-color:#e0ecff}
.layout-expand-over{background-color:#e0ecff}
.tabs-container{overflow:hidden}
.tabs-header{position:relative;overflow:hidden;padding:0;padding-top:2px;border-style:solid;border-width:1px;border-bottom-width:0}
.tabs-header-plain{border:0;background:0 0}
.tabs-scroller-left,.tabs-scroller-right{position:absolute;top:auto;bottom:0;display:none;width:18px;height:28px!important;height:30px;border-style:solid;border-width:1px;font-size:1px;cursor:pointer}
.tabs-scroller-left{left:0}
.tabs-scroller-right{right:0}
.tabs-header-plain .tabs-scroller-left,.tabs-header-plain .tabs-scroller-right{height:25px!important;height:27px}
.tabs-tool{position:absolute;bottom:0;overflow:hidden;padding:1px;border-style:solid;border-width:1px}
.tabs-header-plain .tabs-tool{padding:0 1px}
.tabs-wrap{position:relative;left:0;overflow:hidden;margin:0;padding:0;width:100%}
.tabs-scrolling{margin-right:18px;margin-left:18px}
.tabs-disabled{opacity:.3}
.tabs{margin:0;padding:0;padding-left:4px;width:5000px;height:26px;border-style:solid;border-width:0 0 1px 0;list-style-type:none}
.tabs li{position:relative;float:left;display:inline-block;margin:0 4px -1px 0;padding:0;border:0}
.tabs li a.tabs-inner{display:inline-block;margin:0;padding:0 10px;height:25px;border-style:solid;border-width:1px;-webkit-border-radius:5px 5px 0 0;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;text-align:center;text-decoration:none;white-space:nowrap;line-height:25px}
.tabs li.tabs-selected a.tabs-inner{outline:0;font-weight:700}
.tabs li.tabs-selected a:hover.tabs-inner{cursor:default;pointer:default}
.tabs li a.tabs-close,.tabs-p-tool{position:absolute;top:50%;display:block;overflow:hidden;margin-top:-6px;padding:0;height:12px;font-size:1px}
.tabs li a.tabs-close{right:5px;width:12px;opacity:.6}
.tabs-p-tool{right:16px}
.tabs-p-tool a{display:inline-block;margin:0;width:12px;height:12px;font-size:1px;opacity:.6}
.tabs li a:hover.tabs-close,.tabs-p-tool a:hover{opacity:1;cursor:hand;cursor:pointer}
.tabs-with-icon{padding-left:18px}
.tabs-icon{position:absolute;top:50%;left:10px;margin-top:-8px;width:16px;height:16px}
.tabs-title{font-size:12px}
.tabs-closable{padding-right:8px}
.tabs-panels{overflow:hidden;margin:0;padding:0;border-style:solid;border-width:1px;border-top-width:0}
.tabs-header-bottom{padding:0 0 2px 0;border-width:0 1px 1px 1px}
.tabs-header-bottom .tabs{border-width:1px 0 0 0}
.tabs-header-bottom .tabs li{margin:-1px 4px 0 0}
.tabs-header-bottom .tabs li a.tabs-inner{-webkit-border-radius:0 0 5px 5px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px}
.tabs-header-bottom .tabs-tool{top:0}
.tabs-header-bottom .tabs-scroller-left,.tabs-header-bottom .tabs-scroller-right{top:0;bottom:auto}
.tabs-panels-top{border-width:1px 1px 0 1px}
.tabs-header-left{float:left;padding:0;border-width:1px 0 1px 1px}
.tabs-header-right{float:right;padding:0;border-width:1px 1px 1px 0}
.tabs-header-left .tabs-wrap,.tabs-header-right .tabs-wrap{height:100%}
.tabs-header-left .tabs{padding:4px 0 0 4px;height:100%;border-width:0 1px 0 0}
.tabs-header-right .tabs{padding:4px 4px 0 0;height:100%;border-width:0 0 0 1px}
.tabs-header-left .tabs li,.tabs-header-right .tabs li{position:relative;display:block;width:100%}
.tabs-header-left .tabs li{right:0;left:auto;float:right;margin:0 -1px 4px 0}
.tabs-header-right .tabs li{right:auto;left:0;float:left;margin:0 0 4px -1px}
.tabs-header-left .tabs li a.tabs-inner{display:block;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px;text-align:left}
.tabs-header-right .tabs li a.tabs-inner{display:block;-webkit-border-radius:0 5px 5px 0;-moz-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0;text-align:left}
.tabs-panels-right{float:right;border-width:1px 1px 1px 0}
.tabs-panels-left{float:left;border-width:1px 0 1px 1px}
.tabs-header-noborder,.tabs-panels-noborder{border:0}
.tabs-header-plain{border:0;background:0 0}
.tabs-scroller-left{background:#e0ecff url(images/tabs_icons.png) no-repeat 1px center}
.tabs-scroller-right{background:#e0ecff url(images/tabs_icons.png) no-repeat -15px center}
.tabs li a.tabs-close{background:url(images/tabs_icons.png) no-repeat -34px center}
.tabs li a.tabs-inner:hover{background:#eaf2ff;color:#000;filter:none}
.tabs li.tabs-selected a.tabs-inner{background:-webkit-linear-gradient(top,#eff5ff 0,#fff 100%);background:-moz-linear-gradient(top,#eff5ff 0,#fff 100%);background:-o-linear-gradient(top,#eff5ff 0,#fff 100%);background:linear-gradient(to bottom,#eff5ff 0,#fff 100%);background-color:#fff;background-repeat:repeat-x;color:#0e2d5f}
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner{background:-webkit-linear-gradient(top,#fff 0,#eff5ff 100%);background:-moz-linear-gradient(top,#fff 0,#eff5ff 100%);background:-o-linear-gradient(top,#fff 0,#eff5ff 100%);background:linear-gradient(to bottom,#fff 0,#eff5ff 100%);background-repeat:repeat-x}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner{background:-webkit-linear-gradient(left,#eff5ff 0,#fff 100%);background:-moz-linear-gradient(left,#eff5ff 0,#fff 100%);background:-o-linear-gradient(left,#eff5ff 0,#fff 100%);background:linear-gradient(to right,#eff5ff 0,#fff 100%);background-repeat:repeat-y}
.tabs-header-right .tabs li.tabs-selected a.tabs-inner{background:-webkit-linear-gradient(left,#fff 0,#eff5ff 100%);background:-moz-linear-gradient(left,#fff 0,#eff5ff 100%);background:-o-linear-gradient(left,#fff 0,#eff5ff 100%);background:linear-gradient(to right,#fff 0,#eff5ff 100%);background-repeat:repeat-y}
.tabs li a.tabs-inner{background:-webkit-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:-moz-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:-o-linear-gradient(top,#eff5ff 0,#e0ecff 100%);background:linear-gradient(to bottom,#eff5ff 0,#e0ecff 100%);background-color:#e0ecff;background-repeat:repeat-x;color:#0e2d5f}
.tabs-header,.tabs-tool{background-color:#fff}
.tabs-header-plain{background:0 0}
.tabs,.tabs li a.tabs-inner,.tabs li.tabs-selected a.tabs-inner,.tabs-header,.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,.tabs-header-left .tabs li.tabs-selected a.tabs-inner,.tabs-header-right .tabs li.tabs-selected a.tabs-inner,.tabs-panels,.tabs-scroller-left,.tabs-scroller-right,.tabs-tool{border-color:#95b8e7}
.tabs li a:hover.tabs-close,.tabs-p-tool a:hover,.tabs-scroller-over{background-color:#eaf2ff}
.tabs li.tabs-selected a.tabs-inner{border-bottom:1px solid #fff}
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner{border-top:1px solid #fff}
.tabs-header-left .tabs li.tabs-selected a.tabs-inner{border-right:1px solid #fff}
.tabs-header-right .tabs li.tabs-selected a.tabs-inner{border-left:1px solid #fff}
a.l-btn{display:inline-block;padding-right:18px;height:24px;outline:0;background-position:right 0;text-decoration:none;cursor:pointer;zoom:1}
a.l-btn-plain{padding:1px 6px 1px 1px;padding-right:5px;border:0}
a.l-btn-disabled{color:#ccc;opacity:.5;cursor:default}
a.l-btn span.l-btn-left{display:inline-block;padding:4px 0 4px 18px;height:16px;background-position:0 -48px;line-height:16px}
a.l-btn-plain span.l-btn-left{padding-left:5px}
a.l-btn span span.l-btn-text{display:inline-block;margin:0;padding:0;width:auto;height:16px;vertical-align:baseline;font-size:12px;line-height:16px}
a.l-btn span span.l-btn-icon-left{padding:0 0 0 20px;background-position:left center}
a.l-btn span span.l-btn-icon-right{padding:0 20px 0 0;background-position:right center}
a.l-btn span span span.l-btn-empty{display:inline-block;margin:0;padding:0;width:16px}
a:hover.l-btn{outline:0;background-position:right -24px;text-decoration:none}
a:hover.l-btn span.l-btn-left{background-position:0 bottom}
a:hover.l-btn-plain{padding:0 5px 0 0}
a:hover.l-btn-disabled{background-position:right 0}
a:hover.l-btn-disabled span.l-btn-left{background-position:0 -48px}
a.l-btn .l-btn-focus{outline:#00f dotted thin}
a.l-btn{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background-image:url(images/linkbutton_bg.png);background-repeat:no-repeat;color:#444}
a.l-btn span.l-btn-left{background-image:url(images/linkbutton_bg.png);background-repeat:no-repeat}
a.l-btn-plain,a.l-btn-plain span.l-btn-left{border:0;background:0 0;filter:none}
a:hover.l-btn-plain{border:1px solid #b7d2ff;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background:#eaf2ff;color:#000}
a.l-btn-disabled,a:hover.l-btn-disabled{color:#444}
a.l-btn-plain-disabled,a:hover.l-btn-plain-disabled{background:0 0}
a.l-btn-selected,a:hover.l-btn-selected{background-position:right -24px}
a.l-btn-selected span.l-btn-left,a:hover.l-btn-selected span.l-btn-left{background-position:0 bottom}
a.l-btn-plain-selected,a:hover.l-btn-plain-selected{background:#ddd}
.datagrid .panel-body{position:relative;overflow:hidden}
.datagrid-view{position:relative;overflow:hidden}
.datagrid-view1,.datagrid-view2{position:absolute;top:0;overflow:hidden}
.datagrid-view1{left:0}
.datagrid-view2{right:0}
.datagrid-mask{position:absolute;top:0;left:0;display:none;width:100%;height:100%;opacity:.3}
.datagrid-mask-msg{position:absolute;top:50%;display:none;margin-top:-20px;padding:12px 5px 10px 30px;width:auto;height:16px;border-style:solid;border-width:2px}
.datagrid-sort-icon{padding:0}
.datagrid-toolbar{padding:1px 2px;height:auto;border-style:solid;border-width:0 0 1px 0}
.datagrid-btn-separator{float:left;margin:2px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.datagrid .datagrid-pager{margin:0;border-style:solid;border-width:1px 0 0 0}
.datagrid .datagrid-pager-top{border-width:0 0 1px 0}
.datagrid-header{overflow:hidden;border-style:solid;border-width:0 0 1px 0;cursor:default}
.datagrid-header-inner{float:left;width:10000px}
.datagrid-header-row,.datagrid-row{height:25px}
.datagrid-body td,.datagrid-footer td,.datagrid-header td{margin:0;padding:0;border-style:dotted;border-width:0 1px 1px 0}
.datagrid-cell,.datagrid-cell-group,.datagrid-cell-rownumber,.datagrid-header-rownumber{overflow:hidden;margin:0;padding:0 4px;height:18px;white-space:nowrap;word-wrap:normal;font-weight:400;font-size:12px;line-height:18px}
.datagrid-header .datagrid-cell{height:auto}
.datagrid-header .datagrid-cell span{font-size:12px}
.datagrid-cell-group{text-align:center}
.datagrid-cell-rownumber,.datagrid-header-rownumber{margin:0;padding:0;width:25px;text-align:center}
.datagrid-body{overflow:auto;margin:0;padding:0;zoom:1}
.datagrid-view1 .datagrid-body-inner{padding-bottom:20px}
.datagrid-view1 .datagrid-body{overflow:hidden}
.datagrid-footer{overflow:hidden}
.datagrid-footer-inner{float:left;width:10000px;border-style:solid;border-width:1px 0 0 0}
.datagrid-row-editing .datagrid-cell{height:auto}
.datagrid-cell-check,.datagrid-header-check{overflow:hidden;padding:0;width:27px;height:18px;text-align:center;font-size:1px}
.datagrid-cell-check input,.datagrid-header-check input{margin:0;padding:0;width:15px;height:18px}
.datagrid-resize-proxy{position:absolute;top:0;display:none;width:1px;height:10000px;cursor:e-resize}
.datagrid-body .datagrid-editable{margin:0;padding:0}
.datagrid-body .datagrid-editable table{width:100%;height:100%}
.datagrid-body .datagrid-editable td{margin:0;padding:0;border:0}
.datagrid-body .datagrid-editable .datagrid-editable-input{margin:0;padding:2px;border-style:solid;border-width:1px}
.datagrid-sort-desc .datagrid-sort-icon{padding:0 13px 0 0;background:url(images/datagrid_icons.png) no-repeat -16px center}
.datagrid-sort-asc .datagrid-sort-icon{padding:0 13px 0 0;background:url(images/datagrid_icons.png) no-repeat 0 center}
.datagrid-row-collapse{background:url(images/datagrid_icons.png) no-repeat -48px center}
.datagrid-row-expand{background:url(images/datagrid_icons.png) no-repeat -32px center}
.datagrid-mask-msg{background:#fff url(images/loading.gif) no-repeat scroll 5px center}
.datagrid-header,.datagrid-td-rownumber{background:-webkit-linear-gradient(top,#f9f9f9 0,#efefef 100%);background:-moz-linear-gradient(top,#f9f9f9 0,#efefef 100%);background:-o-linear-gradient(top,#f9f9f9 0,#efefef 100%);background:linear-gradient(to bottom,#f9f9f9 0,#efefef 100%);background-color:#efefef;background-repeat:repeat-x}
.datagrid-cell-rownumber{color:#000}
.datagrid-resize-proxy{background:#aac5e7}
.datagrid-mask{background:#ccc}
.datagrid-mask-msg{border-color:#95b8e7}
.datagrid-pager,.datagrid-toolbar{background:#f4f4f4}
.datagrid-footer-inner,.datagrid-header,.datagrid-pager,.datagrid-toolbar{border-color:#ddd}
.datagrid-body td,.datagrid-footer td,.datagrid-header td{border-color:#ccc}
.datagrid-btable,.datagrid-ftable,.datagrid-htable{color:#000}
.datagrid-row-alt{background:#fafafa}
.datagrid-header td.datagrid-header-over,.datagrid-row-over{background:#eaf2ff;color:#000;cursor:default}
.datagrid-row-selected{background:#fbec88;color:#000}
.datagrid-body .datagrid-editable .datagrid-editable-input{border-color:#95b8e7}
.propertygrid .datagrid-view1 .datagrid-body td{padding-bottom:1px;border-width:0 1px 0 0}
.propertygrid .datagrid-group{overflow:hidden;height:21px;border-style:solid;border-width:0 0 1px 0}
.propertygrid .datagrid-group span{font-weight:700}
.propertygrid .datagrid-view1 .datagrid-body td{border-color:#ddd}
.propertygrid .datagrid-view1 .datagrid-group{border-color:#e0ecff}
.propertygrid .datagrid-view2 .datagrid-group{border-color:#ddd}
.propertygrid .datagrid-group,.propertygrid .datagrid-view1 .datagrid-body,.propertygrid .datagrid-view1 .datagrid-row-over,.propertygrid .datagrid-view1 .datagrid-row-selected{background:#e0ecff}
.pagination{zoom:1}
.pagination table{float:left;height:30px}
.pagination td{border:0}
.pagination-btn-separator{float:left;margin:3px 1px;height:24px;border-right:1px solid #fff;border-left:1px solid #ccc}
.pagination .pagination-num{margin:0 2px;padding:2px;width:2em;height:auto;border-style:solid;border-width:1px}
.pagination-page-list{margin:0 6px;padding:1px 2px;width:auto;height:auto;border-style:solid;border-width:1px}
.pagination-info{float:right;margin:0 6px 0 0;padding:0;height:30px;font-size:12px;line-height:30px}
.pagination span{font-size:12px}
.pagination-first{background:url(images/pagination_icons.png) no-repeat 0 0}
.pagination-prev{background:url(images/pagination_icons.png) no-repeat -16px 0}
.pagination-next{background:url(images/pagination_icons.png) no-repeat -32px 0}
.pagination-last{background:url(images/pagination_icons.png) no-repeat -48px 0}
.pagination-load{background:url(images/pagination_icons.png) no-repeat -64px 0}
.pagination-loading{background:url(images/loading.gif) no-repeat}
.pagination .pagination-num,.pagination-page-list{border-color:#95b8e7}
.calendar{overflow:hidden;padding:1px;border-style:solid;border-width:1px}
.calendar table{width:100%;height:100%;border-collapse:separate;font-size:12px}
.calendar table td,.calendar table th{font-size:12px}
.calendar-noborder{border:0}
.calendar-header{position:relative;height:22px}
.calendar-title{height:22px;text-align:center}
.calendar-title span{position:relative;top:2px;display:inline-block;padding:0 3px;height:18px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;font-size:12px;line-height:18px;cursor:pointer}
.calendar-nextmonth,.calendar-nextyear,.calendar-prevmonth,.calendar-prevyear{position:absolute;top:50%;margin-top:-7px;width:14px;height:14px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;font-size:1px;cursor:pointer}
.calendar-prevmonth{left:20px;background:url(images/calendar_arrows.png) no-repeat -18px -2px}
.calendar-nextmonth{right:20px;background:url(images/calendar_arrows.png) no-repeat -34px -2px}
.calendar-prevyear{left:3px;background:url(images/calendar_arrows.png) no-repeat -1px -2px}
.calendar-nextyear{right:3px;background:url(images/calendar_arrows.png) no-repeat -49px -2px}
.calendar-body{position:relative}
.calendar-body td,.calendar-body th{text-align:center}
.calendar-day{padding:1px;border:0;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;cursor:pointer}
.calendar-other-month{opacity:.3}
.calendar-menu{position:absolute;top:0;left:0;display:none;overflow:hidden;padding:5px;width:180px;height:150px;font-size:12px}
.calendar-menu-year-inner{padding-bottom:5px;text-align:center}
.calendar-menu-year{margin:0;padding:2px;width:40px;border-style:solid;border-width:1px;text-align:center;font-weight:700;font-size:12px}
.calendar-menu-next,.calendar-menu-prev{display:inline-block;width:21px;height:21px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;vertical-align:top;cursor:pointer}
.calendar-menu-prev{margin-right:10px;background:url(images/calendar_arrows.png) no-repeat 2px 2px}
.calendar-menu-next{margin-left:10px;background:url(images/calendar_arrows.png) no-repeat -45px 2px}
.calendar-menu-month{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;text-align:center;font-weight:700;cursor:pointer}
.calendar-body th,.calendar-menu-month{color:#4d4d4d}
.calendar-day{color:#000}
.calendar-sunday{color:#c22}
.calendar-saturday{color:#0e0}
.calendar-today{color:#00f}
.calendar-menu-year{border-color:#95b8e7}
.calendar{border-color:#95b8e7}
.calendar-header{background:#e0ecff}
.calendar-body,.calendar-menu{background:#fff}
.calendar-body th{background:#f4f4f4}
.calendar-hover,.calendar-menu-hover,.calendar-nav-hover{background-color:#eaf2ff;color:#000}
.calendar-hover{padding:0;border:1px solid #b7d2ff}
.calendar-selected{padding:0;border:1px solid #e2c608;background-color:#fbec88;color:#000}
.datebox-calendar-inner{height:180px}
.datebox-button{padding:2px 5px;height:18px;text-align:center}
.datebox-button a{font-size:12px}
.datebox-close,.datebox-current,.datebox-ok{text-decoration:none;font-weight:700;opacity:.6}
.datebox-close,.datebox-current{float:left}
.datebox-close{float:right}
.datebox-button-hover{opacity:1}
.datebox .combo-arrow{background-image:url(images/datebox_arrow.png);background-position:center center}
.datebox-button{background-color:#f4f4f4}
.datebox-close,.datebox-current,.datebox-ok{color:#444}
.spinner{display:inline-block;overflow:hidden;margin:0;padding:0;border-style:solid;border-width:1px;vertical-align:middle;white-space:nowrap}
.spinner .spinner-text{margin:0;padding:0 2px;height:20px;border:0;vertical-align:baseline;font-size:12px;line-height:20px}
.spinner-arrow{display:inline-block;overflow:hidden;margin:0;padding:0;vertical-align:top}
.spinner-arrow-down,.spinner-arrow-up{display:block;width:18px;height:10px;font-size:1px;opacity:.6}
.spinner-arrow-hover{opacity:1}
.spinner-arrow-up{background:url(images/spinner_arrows.png) no-repeat 1px center}
.spinner-arrow-down{background:url(images/spinner_arrows.png) no-repeat -15px center}
.spinner{border-color:#95b8e7}
.spinner-arrow{background-color:#e0ecff}
.spinner-arrow-hover{background-color:#eaf2ff}
.progressbar{overflow:hidden;border-style:solid;border-width:1px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px}
.progressbar-text{position:absolute;text-align:center}
.progressbar-value{position:relative;overflow:hidden;width:0;-webkit-border-radius:5px 0 0 5px;-moz-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px}
.progressbar{border-color:#95b8e7}
.progressbar-text{color:#000;font-size:12px}
.progressbar-value .progressbar-text{background-color:#fbec88;color:#000}
.searchbox{display:inline-block;overflow:hidden;margin:0;padding:0;border-style:solid;border-width:1px;white-space:nowrap}
.searchbox .searchbox-text{margin:0;padding:0;height:20px;border:0;vertical-align:baseline;font-size:12px;line-height:20px}
.searchbox .searchbox-prompt{color:#ccc;font-size:12px}
.searchbox-button{display:inline-block;overflow:hidden;width:18px;height:20px;vertical-align:top;opacity:.6;cursor:pointer}
.searchbox-button-hover{opacity:1}
.searchbox a.l-btn-plain{padding:0 6px 0 0;height:20px;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;vertical-align:top;opacity:.6}
.searchbox a.l-btn .l-btn-left{padding:2px 0 2px 4px}
.searchbox a.l-btn-plain:hover{padding:0 6px 0 0;border:0;-webkit-border-radius:0;-moz-border-radius:0;border-radius:0;opacity:1}
.searchbox a.m-btn-plain-active{-webkit-border-radius:0;-moz-border-radius:0;border-radius:0}
.searchbox-button{background:url(images/searchbox_button.png) no-repeat center center}
.searchbox{border-color:#95b8e7;background-color:#fff}
.searchbox a.l-btn-plain{background:#e0ecff}
.slider-disabled{opacity:.5}
.slider-h{height:22px}
.slider-v{width:22px}
.slider-inner{position:relative;top:7px;height:6px;border-style:solid;border-width:1px;border-radius:5px}
.slider-handle{position:absolute;top:-7px;display:block;margin-left:-10px;width:20px;height:20px;outline:0}
.slider-tip{position:absolute;top:-22px;display:inline-block;white-space:nowrap;font-size:12px;line-height:12px}
.slider-rule{position:relative;top:15px}
.slider-rule span{position:absolute;display:inline-block;height:5px;border-style:solid;border-width:0 0 0 1px;font-size:0}
.slider-rulelabel{position:relative;top:20px}
.slider-rulelabel span{position:absolute;display:inline-block;font-size:12px}
.slider-v .slider-inner{top:0;left:7px;float:left;width:6px}
.slider-v .slider-handle{left:3px;margin-top:-10px}
.slider-v .slider-tip{left:-10px;margin-top:-6px}
.slider-v .slider-rule{top:0;left:16px;float:left}
.slider-v .slider-rule span{width:5px;height:auto;border-style:solid;border-width:1px 0 0 0;border-left:0}
.slider-v .slider-rulelabel{top:0;left:23px;float:left}
.slider-handle{background:url(images/slider_handle.png) no-repeat}
.slider-inner{border-color:#95b8e7;background:#e0ecff}
.slider-rule span{border-color:#95b8e7}
.slider-rulelabel span{color:#000}
.menu{position:absolute;overflow:hidden;margin:0;padding:2px;border-style:solid;border-width:1px}
.menu-item{position:relative;overflow:hidden;margin:0;padding:0;border-style:solid;border-width:1px;white-space:nowrap;cursor:pointer}
.menu-text{float:left;padding-left:28px;height:20px;line-height:20px}
.menu-icon{position:absolute;top:50%;left:2px;margin-top:-8px;width:16px;height:16px}
.menu-rightarrow{position:absolute;top:50%;right:0;margin-top:-8px;width:16px;height:16px}
.menu-line{position:absolute;top:0;left:26px;height:2000px;font-size:1px}
.menu-sep{margin:3px 0 3px 25px;font-size:1px}
.menu-active{-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px}
.menu-item-disabled{opacity:.5;cursor:default}
.menu-text,.menu-text span{font-size:12px}
.menu-shadow{position:absolute;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background:#ccc;-webkit-box-shadow:2px 2px 3px #ccc;-moz-box-shadow:2px 2px 3px #ccc;box-shadow:2px 2px 3px #ccc}
.menu-rightarrow{background:url(images/menu_arrows.png) no-repeat -32px center}
.menu-line{border-right:1px solid #fff;border-left:1px solid #ccc}
.menu-sep{border-top:1px solid #ccc;border-bottom:1px solid #fff}
.menu{border-color:#ddd;background-color:#fafafa;color:#444}
.menu-content{background:#fff}
.menu-item{border-color:transparent}
.menu-active{border-color:#b7d2ff;background:#eaf2ff;color:#000}
.menu-active-disabled{border-color:transparent;background:0 0;color:#444}
.m-btn-downarrow{display:inline-block;width:16px;height:16px;font-size:12px;line-height:16px}
a.m-btn-active{background-position:bottom right}
a.m-btn-active span.l-btn-left{background-position:bottom left}
a.m-btn-plain-active{padding:0 5px 0 0;border-style:solid;border-width:1px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background:0 0}
.m-btn-downarrow{background:url(images/menu_arrows.png) no-repeat 2px center}
a.m-btn-plain-active{border-color:#b7d2ff;background-color:#eaf2ff;color:#000}
.s-btn-downarrow{display:inline-block;margin:0 0 0 4px;padding:0 0 0 1px;width:14px;height:16px;border-style:solid;border-width:0;font-size:12px;line-height:16px}
a.s-btn-active{background-position:bottom right}
a.s-btn-active span.l-btn-left{background-position:bottom left}
a.s-btn-plain-active{padding:0 5px 0 0;border-style:solid;border-width:1px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background:0 0}
.s-btn-downarrow{border-color:#aac5e7;background:url(images/menu_arrows.png) no-repeat 2px center}
a.s-btn-active .s-btn-downarrow,a.s-btn-plain-active .s-btn-downarrow,a:hover.l-btn .s-btn-downarrow{padding:0;border-width:0 0 0 1px;background-position:1px center}
a.s-btn-plain-active{border-color:#b7d2ff;background-color:#eaf2ff;color:#000}
.messager-body{overflow:hidden;padding:10px}
.messager-button{padding-top:10px;text-align:center}
.messager-icon{float:left;margin:0 10px 10px 0;width:32px;height:32px}
.messager-error{background:url(images/messager_icons.png) no-repeat scroll -64px 0}
.messager-info{background:url(images/messager_icons.png) no-repeat scroll 0 0}
.messager-question{background:url(images/messager_icons.png) no-repeat scroll -32px 0}
.messager-warning{background:url(images/messager_icons.png) no-repeat scroll -96px 0}
.messager-progress{padding:10px}
.messager-p-msg{margin-bottom:5px}
.messager-body .messager-input{padding:1px 0;width:100%;border:1px solid #95b8e7}
.tree{margin:0;padding:0;list-style-type:none}
.tree li{white-space:nowrap}
.tree li ul{margin:0;padding:0;list-style-type:none}
.tree-node{height:18px;white-space:nowrap;cursor:pointer}
.tree-hit{cursor:pointer}
.tree-checkbox,.tree-collapsed,.tree-expanded,.tree-file,.tree-folder,.tree-indent{display:inline-block;overflow:hidden;width:16px;height:18px;vertical-align:top}
.tree-expanded{background:url(images/tree_icons.png) no-repeat -18px 0}
.tree-expanded-hover{background:url(images/tree_icons.png) no-repeat -50px 0}
.tree-collapsed{background:url(images/tree_icons.png) no-repeat 0 0}
.tree-collapsed-hover{background:url(images/tree_icons.png) no-repeat -32px 0}
.tree-lines .tree-expanded,.tree-lines .tree-root-first .tree-expanded{background:url(images/tree_icons.png) no-repeat -144px 0}
.tree-lines .tree-collapsed,.tree-lines .tree-root-first .tree-collapsed{background:url(images/tree_icons.png) no-repeat -128px 0}
.tree-lines .tree-node-last .tree-expanded,.tree-lines .tree-root-one .tree-expanded{background:url(images/tree_icons.png) no-repeat -80px 0}
.tree-lines .tree-node-last .tree-collapsed,.tree-lines .tree-root-one .tree-collapsed{background:url(images/tree_icons.png) no-repeat -64px 0}
.tree-line{background:url(images/tree_icons.png) no-repeat -176px 0}
.tree-join{background:url(images/tree_icons.png) no-repeat -192px 0}
.tree-joinbottom{background:url(images/tree_icons.png) no-repeat -160px 0}
.tree-folder{background:url(images/tree_icons.png) no-repeat -208px 0}
.tree-folder-open{background:url(images/tree_icons.png) no-repeat -224px 0}
.tree-file{background:url(images/tree_icons.png) no-repeat -240px 0}
.tree-loading{background:url(images/loading.gif) no-repeat center center}
.tree-checkbox0{background:url(images/tree_icons.png) no-repeat -208px -18px}
.tree-checkbox1{background:url(images/tree_icons.png) no-repeat -224px -18px}
.tree-checkbox2{background:url(images/tree_icons.png) no-repeat -240px -18px}
.tree-title{display:inline-block;padding:0 2px;height:18px;vertical-align:top;text-decoration:none;white-space:nowrap;font-size:12px;line-height:18px}
.tree-node-proxy{z-index:9900000;padding:0 2px 0 20px;border-style:solid;border-width:1px;font-size:12px;line-height:20px}
.tree-dnd-icon{position:absolute;top:50%;left:2px;display:inline-block;margin-top:-9px;width:16px;height:18px}
.tree-dnd-yes{background:url(images/tree_icons.png) no-repeat -256px 0}
.tree-dnd-no{background:url(images/tree_icons.png) no-repeat -256px -18px}
.tree-node-top{border-top:1px dotted red}
.tree-node-bottom{border-bottom:1px dotted red}
.tree-node-append .tree-title{border:1px dotted red}
.tree-editor{position:absolute;top:0;padding:1px 2px;width:80px;height:14px!important;height:18px;border:1px solid #ccc;font-size:12px;line-height:14px}
.tree-node-proxy{border-color:#95b8e7;background-color:#fff;color:#000}
.tree-node-hover{background:#eaf2ff;color:#000}
.tree-node-selected{background:#fbec88;color:#000}
.validatebox-invalid{border-color:#ffa8a8;background-color:#fff3f3;background-image:url(images/validatebox_warning.png);background-position:right center;background-repeat:no-repeat;color:#000}
.tooltip{position:absolute;z-index:9900000;display:none;padding:5px;outline:0;border-style:solid;border-width:1px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px;border-radius:5px 5px 5px 5px}
.tooltip-content{font-size:12px}
.tooltip-arrow,.tooltip-arrow-outer{position:absolute;width:0;height:0;border-color:transparent;border-style:solid;border-width:6px;font-size:0;line-height:0}
.tooltip-right .tooltip-arrow-outer{top:50%;left:0;margin:-6px 0 0 -13px}
.tooltip-right .tooltip-arrow{top:50%;left:0;margin:-6px 0 0 -12px}
.tooltip-left .tooltip-arrow-outer{top:50%;right:0;margin:-6px -13px 0 0}
.tooltip-left .tooltip-arrow{top:50%;right:0;margin:-6px -12px 0 0}
.tooltip-top .tooltip-arrow-outer{bottom:0;left:50%;margin:0 0 -13px -6px}
.tooltip-top .tooltip-arrow{bottom:0;left:50%;margin:0 0 -12px -6px}
.tooltip-bottom .tooltip-arrow-outer{top:0;left:50%;margin:-13px 0 0 -6px}
.tooltip-bottom .tooltip-arrow{top:0;left:50%;margin:-12px 0 0 -6px}
.tooltip{border-color:#95b8e7;background-color:#fff;color:#000}
.tooltip-right .tooltip-arrow-outer{border-right-color:#95b8e7}
.tooltip-right .tooltip-arrow{border-right-color:#fff}
.tooltip-left .tooltip-arrow-outer{border-left-color:#95b8e7}
.tooltip-left .tooltip-arrow{border-left-color:#fff}
.tooltip-top .tooltip-arrow-outer{border-top-color:#95b8e7}
.tooltip-top .tooltip-arrow{border-top-color:#fff}
.tooltip-bottom .tooltip-arrow-outer{border-bottom-color:#95b8e7}
.tooltip-bottom .tooltip-arrow{border-bottom-color:#fff}
